.portfolio-body {
  position: absolute;
  top: 86px; /* nav header + subheader heights */
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.portfolio-expanded .account-detail-header {
  position: relative;
  height: 74px;
  box-sizing: border-box;
  width: 100%;
  background-position: 0px -1px;
  background-image: url(../../images/repeat-x-sprite.png);
  background-repeat: repeat-x;
  border-bottom: 1px solid #969696;
  border-left: 1px solid white;
}
.portfolio-expanded .account-detail-overview {
  position: relative;
  height: 90px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
}
.portfolio-expanded .account-detail-wrapper {
  height: 164px; /* .account-detail-header + .account-detail-overview heights */
  top: 76px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}
.portfolio-table {
  position: absolute;
  top: 164px; /* height of .account-detail-wrapper */
  bottom:0px;
  left: 0px;
  right: 0px;
  box-sizing: border-box;
}

