@charset "utf-8";
/* CSS Document */





/* ==|== Begin CSS ========================================================= */
#dashboard .dashboard_left_wrap, #dashboard .dashboard_right_wrap {
    position: absolute;
    top: 0px;
    bottom: 0;
    overflow: auto;
    background: url(../../images/background.png) repeat;
}
#dashboard .dashboard_left_wrap {
    left: 0;
    width: 50%;
}
#dashboard .dashboard_right_wrap {
    right: 0;
    width: 50%;
}
#dashboard .dashboard_scroller_wrap {
    width: 98.5%;
}

/* 7 inch device */
.seveninch #dashboard .dashboard_left_wrap {
    width: 100%;
}
.seveninch #dashboard .dashboard_right_wrap {
    display: none;
}

/* ==|== #dashboard pull to refresh ========================================================= */
#dashboard_left_pullDown, #dashboard_right_pullDown {
    height: 40px;
    line-height: 20px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}
#dashboard_left_pullDown .pullDownIcon, #dashboard_right_pullDown .pullDownIcon {
    display: block;
    float: left;
    width: 22px;
    height: 46px;
    background: url(../../images/update_arrow_down.png) 0 0 no-repeat;
    margin-right: 10px;    
}

#dashboard_right_pullDown .pullDownIcon {
	margin-top:-12px;
}

#dashboard_left_pullDown .pullDownLabel, #dashboard_right_pullDown .pullDownLabel {
    display: block;
    color: #000;
    margin-top: 15px;
}
#dashboard_left_pullDown .pullDownTime, #dashboard_right_pullDown .pullDownTime {
    font-size: 14px;
    color: #666;
}
#dashboard_left_pullDown.flip .pullDownIcon, #dashboard_right_pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}
#dashboard_left_pullDown.loading .pullDownIcon, #dashboard_right_pullDown.loading .pullDownIcon {
    background: url(../../images/global/spinner_small_app_bg.gif) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    margin-top: 6px;
}

/* ==|== Begin dashboard style ========================================================= */
#dashboard footer.time_stamp {
    background-color: #e3e2e2;
    text-align: right;
    padding: 5px;
    border-top: 1px solid #a7a7a7;
    color: #999;
}
#dashboard footer.time_stamp p {
    padding-right: 15px;
}

/* Common box --*/
.box > ul li.active {
    background: url(../../images/unspritable/arrow_up.png) no-repeat;
}

/* ==|== Common table ======================================================= */
#dashboard table.header, #dashboard table.main {
    width: 100%;
}
#dashboard table.header {
    border-bottom: 1px solid #B0B0B0;
    height: 30px;
    color: #a2a2a2;
}
#dashboard table.header tr th {
    text-align: left;
}
#dashboard table > thead.header tr {
    font-size: 11px;
    color: #919191;
    height: 28px;
    border-bottom: 1px solid #fff;
}
#dashboard table > thead.header tr th {
    text-align: left;
}
#dashboard table > thead.header tr th, #dashboard table > thead.header tr th div.table_header.noimageArrow {
    background-position: 0px -780px;
    background-image: url(../../images/repeat-x-sprite.png);
}
#dashboard table > thead.header tr th[sorted=reverseSort] div {
       background-image: url(../../images/unspritable/arrow_up.png), url(../../images/dashboard/sort_grey_bg.png);
       background-position: 30px 21px, 0 31px;
       background-repeat: no-repeat, repeat-x;      
}
#dashboard table > thead.header tr th[sorted=sorted] div {       
       background-image: url(../../images/unspritable/arrow_down.png), url(../../images/dashboard/sort_grey_bg.png);
       background-position: 30px 30px, 0 31px;
       background-repeat: no-repeat, repeat-x;    
}
#dashboard table > thead.header tr th[sorted=ireverseSort] div {
       background-image: url(../../images/unspritable/arrow_down.png), url(../../images/dashboard/sort_grey_bg.png);
       background-position: 30px 30px, 0 31px;
       background-repeat: no-repeat, repeat-x;      
}
#dashboard table > thead.header tr th[sorted=isorted] div {       
       background-image: url(../../images/unspritable/arrow_up.png), url(../../images/dashboard/sort_grey_bg.png);
       background-position: 30px 21px, 0 31px;
       background-repeat: no-repeat, repeat-x;    
}

#dashboard table.main tr {
    height: 40px;
    border-bottom: 1px solid #ebebeb;
}
#dashboard table.main tr td {
    font-size: 14px;
}
#dashboard table.main tr > td:first-child {
    text-align: center;
    color: #909090;
}
#dashboard table.main tr td.last_trade .trade {
       padding: 6px 5px;
       width: 60px;
}
.dashboard_watchlist .table_header, .watchlist_portfolio .table_header {
    padding-bottom: 16px;
    padding-top: 7px;
    height: 20px;
}
.dashboard_watchlist .table_header.sorted, .watchlist_portfolio .table_header.sorted {
    background: url(../../images/unspritable/arrow_down.png) no-repeat center 25px;
}
.dashboard_watchlist table .table_header.empty {
    margin-bottom: -2px;
}

/* ==|== General box ======================================================= */
.box {
    width: 99%;
    margin: 5px;
    border: 1px solid #a7a7a7;
    background-color: #fff;
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}
.box > header {
    background-position: 0px -80px;
    background-image: url(../../images/repeat-x-sprite.png);
    background-repeat: repeat-x;
    height: 41px;
}
.box > header h1 {
    font-family: ETFAvenirHeavy;
    font-weight: normal;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 16px;
}
.box section {
    border-top: 1px solid #a7a7a7;
    overflow: hidden;
}
.box > ul {
    position: absolute;
    top: 15px;
    right: 6px;
}
.box > ul li {
    display: inline;
    padding: 14px 5px 11px 5px;
    font-size: 13px;
    font-weight: bold;
    color: #8a8684;
    cursor: pointer;
}
.box > ul li a:link {
    color: #939192;
}
.box .show_active_down {
    width: 15px;
    height: 9px;
    position: absolute;
    top: 122px;
}

/* ==|== Market Overview ======================================================= */
#dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
    float: left;
    margin-left: 1px;
    height: 155px;
}
#dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #DJIA_Index_Futures,#NASDAQ_100_Futures{
    border-right: 1px solid #bbbbbb;
}
#dashboard .market section .DJIA header, #dashboard .market section .NASDAQ header, #dashboard .market section .SP500 header {
    width: 100%;
    height: 20px;
    color: #fff;
    margin-top: 1px;
}
#dashboard .market section .DJIA header {
    background: #961b6f;
}
#dashboard .market section .NASDAQ header {
    background: #2d9cad;
}
#dashboard .market section .SP500 header {
    background: #c89815;
}
#dashboard .market section h1 {
    font-size: 12px;
    padding: 4px 0 0 6px;
    cursor: pointer;
}
#dashboard .market .chart1 {
    padding-left: 2px;
}
#dashboard .market table {
    text-align: right;
    margin-top: 15px;
    margin-left: auto;
}
#dashboard .market table td {
    padding-bottom: 2px;
}
#dashboard .dashboard_chart_bg {
    width: 100%;
    height: 5px;
    background: url(../../images/dashboard/dash_top_left_footer.png) repeat-x;
    border-top: 1px solid #d4d4d4;
}
#dashboard .market table td.row1 {
    color: #242424;
    font-weight: bold;
}
#dashboard .market table span.row2 {
    font-weight: bold;
    padding-bottom: 3px;
    font-size: 24px;
}
#dashboard .market table td.row3 {
    padding-bottom: 5px;
    font-size: 22px;
}
#dashboard .market table td.row4 {
    color: #808080;
    font-size: 16px;
}
#dashboard .market table td .change_arrow {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 3px;
    width: 11px;
    height: 7px;
}
#dashboard .market table td .change_arrow.up {
    background: url(../../images/dashboard/dash_up_arrow.png) no-repeat;
}
#dashboard .market table td .change_arrow.down {
    background: url(../../images/dashboard/dash_down_arrow.png) no-repeat;
}
#dashboard .market .chart1 {
       z-index : 1;
    height: 150px;
    background-color: #f4f4f4;
    width: 99%;
    margin: auto;
}

/* ==|== Top News ======================================================= */
#dashboard .news section {
    padding: 13px 0 15px 0;
}
#dashboard .news section header {
    padding: 0 16px;
    font-size: 17px;
}
#dashboard .news section header > span {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
#dashboard .news.box > ul li {
    margin-right: 5px;
}
#dashboard .news section header > p {
    color: #808080;
}
#dashboard .news section .load_css_default {
    margin-top: 20px;
    margin-bottom: 20px;
}
#dashboard .news section article {
    padding: 0 16px;
    font-size: 14px;
    line-height: 23px;
}
#dashboard .news article header {
    font-size: 15px;
    margin-bottom: 5px;
}
#dashboard .news a.news_show_more, #dashboard .news a.news_show_less {
    color: #0B5C96;
    text-decoration: underline;
    cursor: pointer;
}
#dashboard .news a.news_show_less, #dashboard .news .remain_article {
    display: none;
}
#dashboard .dash_news .news_article {
    margin-bottom: 15px;
}
#dashboard .dash_news .news_article .marketNewsTitle {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    cursor: pointer;
}
#dashboard .dash_news .news_article .footer {
    margin-bottom: 3px;
    color: #666;
    font-size: 12px;
}
#dashboard .news article footer {
    font-size: 12px;
    color: #a2a2a2;
}
#dashboard .news section footer {
    clear: both;
}
#dashboard .news section footer .market_news {
    float: right;
    margin-right: 20px;
    padding: 7px 31px;
}

/* ==|== Movers ======================================================= */
#dashboard .movers section header {
    margin: 2px;
    background-color: #eeeded;
    height: 48px;
}
#dashboard .movers .movers_gain, #dashboard .movers .movers_loss {
    float: left;
    cursor: pointer;
}
#dashboard .movers.box > ul li {
    margin-right: 17px;
}
#dashboard .movers.box > ul li.active {
    background-position: center 32px;
}
#dashboard .movers .movers_id {
    width: 6%;
}
#dashboard .movers .movers_symbol {
    width: 15%;
}
#dashboard .movers .movers_trade {
    width: 13%;
       padding-left: 5px;
}
#dashboard .movers .movers_change {
    width: 15%;
}
#dashboard .movers .movers_chart {
    width: 18%;
}
/*==  TODO - NEED TO BE SPRITED ===== */
#dashboard .movers .movers_gain {
    background: url(../../images/dashboard/movers_arrow_up_inactive.png) no-repeat;
}
#dashboard .movers .movers_loss {
    background: url(../../images/dashboard/movers_arrow_down_inactive.png) no-repeat;
}
#dashboard .movers .movers_gain.active {
    background: url(../../images/dashboard/movers_arrow_up_active.png) no-repeat;
}
#dashboard .movers .movers_loss.active {
    background: url(../../images/dashboard/movers_arrow_down_active.png) no-repeat;
}

#dashboard .movers .movers_type p {
    margin-top: 3px;
    color: #939192;
    padding-left: 20px;
}
#dashboard .movers .movers_type.active p {
    color: #232323;
    font-weight: bold;
    cursor: text;
}
#dashboard .movers .movers_active {
    top: 85px;
    width: 11px;
    height: 8px;
    position: absolute;
    background: url(../../images/dashboard/dashboard_movers_active.png) no-repeat;
}
#dashboard .movers header .pos1 {
    left: 70px;
}
#dashboard .spinner {
    color: #909090;
    margin: auto;
    width: 200px;
    height: 100px;
    padding-bottom: 50px;
}
#dashboard .movers .type {
    float: right;
    width: 125px;
    text-align: center;
}
#dashboard .movers .type div.percent, #dashboard .movers .type div.dollar, #dashboard .movers .type div.vol {
    float: left;
    width: 40px;
    padding: 5px 0;
    cursor: pointer;
}
#dashboard .movers .type div.percent {
    border: 1px solid #c2c2c2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#dashboard .movers .type div.dollar {
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
}
#dashboard .movers .type div.vol {
    border: 1px solid #c2c2c2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#dashboard .movers .type div.active {
    background: url(../../images/dashboard/type_bg.png) repeat-x;
    box-shadow: inset 0 0 1px 1px #9e9e9e;
    cursor: text;
    color: #fff;
}
#dashboard .movers table.main tr > td:first-child {
    border-right: 1px solid #ebebeb;
}
#dashboard .movers table.main tr:nth-child(even) {
    background: #fafafa;
}
#dashboard .movers table.main tr:nth-child(odd) {
    background: #fff;
}
#dashboard .movers table.main .stock {
    color: #909090;
    margin-left: 5px;
    text-align: left;
    font-size: 12px;
    padding: 0 15px 0 5px;
}
#dashboard .movers table.main tr {
    text-align: left;
}
#dashboard .movers table.main .chart {
    height: 35px;
    margin-bottom: -12px;
}
.movers table.gain .chart {
    background-color: #009a00;
}
.movers table.loss .chart {
    background-color: #CC0000;
}
#dashboard .movers table.main .gainers_chart {
    background: url(../../images/dashboard/gainers_4.png) no-repeat;
    width: 84px;
    height: 15px;
}
#dashboard .movers table.main .trade {
    text-align: left;
    padding: 6px 5px;
    width: 45px;    
}
#dashboard .movers table.main .change {
    text-align: left;
}
#dashboard .movers table.main.loss .chart {
    background-color: #CC0000;
}
#dashboard #dash_movers .button_symbol {
    margin-left: 5px;
}
#dash_movers tbody .dash_movers_p
{
	text-align: center;
	position: relative;
	font-size: 20px;
	left: 200px;
	width: 100px;
}

/* ==|== Login ======================================================= */
#dashboard .dash_login {
    position: relative;
    width: 99%;
    margin: 5px;
    font-size: 13px;
    font-family: sans-serif;
    display: block;
}
#dashboard .dash_login strong {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 16px;
    display: block;
}
#dashboard .dash_login header {
    background-position: 0px -80px;
    background-image: url(../../images/repeat-x-sprite.png);
    background-repeat: repeat-x;
    height: 41px;
    margin: 1px 1px 0 1px;
    border-bottom: 1px solid #a7a7a7;
}
#dashboard .dash_login .forgot_pass {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 145px;
    padding: 7px;
}
#dashboard .login_form {
    border-top: 1px solid #fff;
    background-color: #dedcdc;
    overflow: hidden;
    padding-bottom: 10px;
}
#dashboard .dash_login form.signin_form {
    padding: 15px 10px 10px 10px;
}
#dashboard .dash_login form.signin_form input {
    float: left;
    margin-right: 10px;
    padding-left: 5px;
    height: 24px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 13px;
    width: 25%;
}
#dashboard .dash_login form.signin_form input[type=image] {
    position: absolute;
    top: 62px;
    left: 325px;
}
#dashboard .dash_login .sign_in {
    float: left;
    width: 90px;
    padding: 7px;
}
#dashboard .dash_login .sign_in_table td {
    text-align: right;
    padding: 5px 0;
    padding-right: 15px;
}
#dashboard .login_options {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #dedcdc;
    overflow: hidden;
    padding: 25px 10px;
}
#dashboard .dash_login .login_options .msg {
    line-height: 18px;
}
#dashboard .dash_login .login_options .dashboard_login_select {
    margin-left: 2px;
}
#dashboard .dash_login .login_options .dashboard_login_select select {
    left: 1px;
}
#dashboard .dashboard_login_time_display {
    position: relative;
}
#dashboard .dashboard_login_time_display, #dashboard .dash_login .login_options .dashboard_login_select {
    width: 135px;
}
#dashboard .dash_login .login_options {
    padding: 20px 10px 15px 10px;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #bbb;
}
#dashboard .dash_login .login_options .left {
    float: left;
    width: 38%;
    margin: 10px 0 0 5px;
}
#dashboard .dash_login .login_options .right {
    float: left;
    width: 60%;
    color: #999;
}
#dashboard .dash_login .open_account_ad {
    background: url(../../images/dashboard/buy_sell.png) no-repeat;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 100px;
}


#dashboard .dash_login .open_account_ad .header {
    font-family: ETFAvenirHeavy;
    color: #010101;
    margin-bottom: 15px;
    line-height: 24px;
}
#dashboard .dash_login .open_account_ad .content {
    margin-left: 110px;
}
#dashboard .dash_login .open_account_ad .footer {
    font-size: 14px;
}
#dashboard .dash_login .open_account_ad .open_account {
    float: left;
    padding: 7px 15px;
    margin: 0;
    margin-right: 15px;
    font-weight: normal;
    cursor: pointer;
}
#dashboard .dash_login .open_account_ad .open_account a {
    color: #fff;
}
#dashboard .dash_login .open_account_ad .footer {
    font-weight: bold;
    color: #0b5c96;
    padding-top: 8px;
    cursor: pointer;
}
#dashboard .dash_login_error_message {
    display: none;
    color: #b10000;
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 40px;
    height: 17px;
    background: url(../../images/sign_in/alert_icon.png) no-repeat 12px 5px;
}
#dashboard .dash_login_wait_spinner {
    display: none;
    float: left;
    background: url(../../images/global/spinner_small_transparent.gif) no-repeat;
    width: 32px;
    height: 32px;
    margin-top: -2px;
}

/* ==|== Accounts ======================================================= */
#dashboard .accounts {
    display: none;
}
#dashboard .accounts .load_outer {
       padding-top: 10px;
}
#dashboard .accounts section {
    padding-bottom: 6px;
    height: 210px;
}
#dashboard .accounts > .action_button {
   position: absolute;
    top: 6px;
    right: 15px;
    padding: 7px 30px;
}
#dashboard .accounts .info {
    float: left;
    width: 32%;
}
#dashboard .accounts .info > header {
    color: #919191;
    font-size: 14px;
    margin-bottom: 5px;
}
#dashboard .accounts .dashboard_account_chart {
    width: 400%;
    height: 195px;
}
#dashboard .accounts .dashboard_account_chart li {
    float: left;
    width: 25%;
    box-sizing: border-box;
}
#dashboard .disclaimer {
    font-size: 11px;
    color: gray;
    text-align: right;
    padding: 6px 5px 0px 0px;
}
#dashboard .accounts .dashboard_account_chart li > header {
    background-color: #f4f4f4;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #c2c2c2;
    position: relative;
}
#dashboard .accounts .dashboard_account_chart li > header p {
    float: left;
    padding: 8px 0 0 15px;
    font-weight: bold;
    color: #242424;
}
#dashboard .alloc_chart_table {
    margin-left: 2%;
    width: 98%;
    height: 161px;
}
#dashboard .dash_chart_assets {
    height: 130px;
    width: 230px;
}
#dashboard .accounts .dashboard_account_chart li .content {
    padding: 10px 0 0 15px;
}
#dashboard .dashboard_chart_overview_main {
    height: 150px;
}
#dashboard .dash_chart_overview { 
       z-index: 1;
    height: 150px;
    margin: 0 auto;
    width: 95%;
    top: 15px;
}
#dashboard .dash_chart_overview { 
       z-index: 1;
    height: 130px;
    margin: 0 auto;
    width: 95%;
}
#dashboard .dash_performance_options_style {
    z-index: 10;
    position: absolute;
    top: 47px;
    right: 5px;
    font-weight: bold;
    display: hidden;
    cursor: pointer;
}
#dashboard #dashboard_performance_dow {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #b7b7b7;
    padding: 3px 8px 4px 14px;
    display: table-cell;
    background: #f7f7f7;
    box-shadow: inset 1px -2px 1px rgba(167,167,167,0.6);
    cursor: pointer;
}
#dashboard #dashboard_performance_nas {
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    padding: 3px 8px 4px 8px;
    display: table-cell;
    background: #f7f7f7;
    box-shadow: inset 0px -2px 1px rgba(167,167,167,0.6);
    cursor: pointer;
}
#dashboard #dashboard_performance_sp {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #b7b7b7;
    padding: 3px 14px 4px 8px;
    display: table-cell;
    background: #f7f7f7;
    box-shadow: inset -1px -2px 1px rgba(167,167,167,0.6);
    cursor: pointer;
}
#dashboard #dashboard_performance_dow.active {
    background: #971b6b;
    border: 1px solid #777;
    color: white;
    box-shadow: inset 0px 0px 8px #333;
}
#dashboard #dashboard_performance_nas.active {
    background: #2c9cab;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    color: white;
    box-shadow: inset 0px 0px 8px #333;
}
#dashboard #dashboard_performance_sp.active {
    background: #c89738;
    border: 1px solid #777;
    color: white;
    box-shadow: inset 0px 0px 8px #333;
}
#dashboard .dashboard_chart_performance_label {
    font-size: 10pt;
    color: #808080;
    position: absolute;
    z-index: 1;
    top: 38px;
    margin-left: 10px;
}
#dashboard #dashboard_chart_performance {
    height: 143px;
}
#dashboard #dashboard_performance_period_selector {
    text-align: center;
    line-height: 20px;
    display: table;
    width: 100%;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    font-family: ETFAvenirHeavy;
}
#dashboard #dashboard_performance_period_selector .wrapper {
    display: table-row;
    border-right: 1px solid #c2c2c2;
}
#dashboard .performance_period_item {
    width: 20%;
    display: table-cell;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1,#e9e8e8));
    border-right: 1px solid #e6e6e6;
    cursor: pointer;
}
#dashboard .performance_period_item.active {
    color: white;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0, #c1c3c0), color-stop(1,#a2a1a0));
}
#dashboard #dashboard_chart_performance_data {
    display: none;
}
#dashboard .accounts .info .net_assets {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 8px;
}
#dashboard .accounts .info .perc {
    font-size: 14px;
}
#dashboard .accounts .info .net_gain_loss, #dashboard .accounts .info .days_gain_loss {
    font-size: 20px;
    margin-bottom: 10px;
}
#dashboard .accounts .info .days_gain_loss {
    margin-bottom: 4px;
}
#dashboard .accounts .chart {
    float: left;
    width: 65%;
    margin-right: 10px;
    font-weight: bold;
}
#dashboard .accounts section > footer {
    background: url(../../images/dashboard/dashboard_acct_bg.png) #f4f4f4 repeat-x;
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
}
#dashboard .dash_chart_performance {
    height: 130px;
    background: #F4F4F4;
}
#dashboard .dash_chart_performance_label {
    font-size: 11px;
    color: gray;
    position: absolute;
    z-index: 1;
    top: 34px;
    margin-left: 5px;
}
#dashboard .accounts #dashboard_accounts_radio_container {
    margin: 0 auto;
    width: 104px;
}
#dashboard .accounts section > footer .note {
    display: none;
    font-size: 11px;
    color: #bcbbbb;
    text-align: right;
    margin: 6px 10px 0 0
}
#dashboard #dashboard_chart_alloc_legend table {
    width: 97%;
}
#dashboard #dashboard_chart_alloc_legend td.legendColorBox {
    width: 16px;
}
#dashboard #dashboard_chart_alloc_legend td.legendLabel {
    background-position: 0px -648px;
    background-image: url(../../images/repeat-x-sprite.png);
    background-repeat: repeat-x;
    font-size: 9pt;
    font-weight: bold;
    color: gray;
    height: 16px;
}

/* ==|== Watchlist ======================================================= */
#dashboard .dashboard_wladdquotes {
       position: absolute;
       height: 27px;
       padding-left: 30px;
       border-radius: 30px;
       padding-top:0px;
       border: 1px solid #BBB;
       font-size: 12px;
       box-shadow: inset 1px 1px 4px #CCC;
}
#dashboard .dashboard_wladdquotes_unfocus {
    background: url('../../images/common/add_icon.png') #FFFFFF no-repeat 5% 50%;
    color: white;
}


#dashboard .watchlist header h1 {
    font-family: ETFAvenirHeavy;
    font-weight: normal;
    float: left;
    color: #939192;
    cursor: pointer;
    top: 5px;
    padding: 5px 0 15px 0;
}
#dashboard .watchlist header h1.active {
    color: #242424;
    cursor: text;
    background: url(../../images/unspritable/arrow_up.png) no-repeat center 27px;
}
#dashboard .watchlist header h1.last {
    left: 155px;
    border: none;
}
#dashboard .watchlist .seprator {
    position: relative;
    top: 7px;
    left: 135px;
    width: 5px;
    height: 24px;
    border-right: 1px solid #bababa;
}
#dashboard .goto-watchlist {
    position: absolute;
    top: 6px;
    right: 15px;
}
#dashboard .goto-portfolio {
    position: absolute;
    top: 6px;
    right: 15px;
}

#dashboard .dashboard_watchlist {
    display: block;
}
#dashboard .watchlist_portfolio {
    display: none;
}
#dashboard .watchlist_select, #dashboard .dashboard_watchlist_select_display, #dashboard .dashboard_portfolio_select_display {
    top: 53px;
    color: #666;
    left: 13px;
    overflow: hidden;
}
#dashboard .watchlist_select {
    color: #666;
}
#dashboard .watchlist section > header {
    margin: 2px;
    background-color: #eeeded;
}
#dashboard .watchlist table.header th span, #dashboard .watchlist table.main tr:nth-child(2n+1) {
    cursor: pointer;
}
#dashboard .watchlist table.main tr:nth-child(even) {
    background-color: #fafafa;
}
#dashboard .watchlist table.main .button_symbol {
    margin-left: 0;
}
#dashboard .watchlist table.main .arrow {
    margin: 0 auto;
}
#dashboard .watchlist table.main .arrow_right {
       width:12px;
       height:13px;
       background-position: -98px -152px;
       background-image: url(../../images/main-sprite.png);
       background-repeat: no-repeat;
}
#dashboard .watchlist table.main .arrow_down {
       width:12px;
       height:13px;
       background-position: -11px -153px;
       background-image: url(../../images/main-sprite.png);
       background-repeat: no-repeat;
}

#dashboard .watchlist table tr.display_chart {
    display: none;
}
#dashboard .watchlist table tr.display_chart td {
    background: url(../../images/dashboard/dashboard_watchlist_shadow_bg.png) repeat-x;
    width: 503px;
    height: 192px;
    text-align: left;
}
#dashboard .watchlist table tr.display_chart td img {
    padding: 10px 0 10px 10px;
}
#dashboard .watchlist table tr.display_chart .info {
    float: right;
    margin: 25px 10px 0 0;
    width: 30%;
}
#dashboard .watchlist table tr.display_chart .info header {
    font-size: 11px;
    margin-bottom: 5px;
}
#dashboard .watchlist table tr.display_chart .info p {
    color: #323232;
    margin-bottom: 15px;
}
#dashboard .watchlist table.header th, #dashboard .watchlist table.main td {
    text-align: left;
}
#dashboard .watchChartPeriod {
    background: url(../../images/type_unselect_bg.png) repeat-x;
    display: table-cell;
    height: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    border-right: 1px solid #c4c4c4;
    width: 14.25%;
    cursor: pointer;
    font-size: 9pt;
}
#dashboard .watchChartPeriod.last {
    border-right: none;
}
#dashboard .watchChartPeriod.active {
    background: url(../../images/dashboard/type_bg.png) repeat-x;
    color: #fff;
}
#dashboard .dwatchChartWrap {
    background-color: #F4F4F4;
    border: 1px solid #c4c4c4;
    float: left;
    z-index: 100;
    height: 180px;
    margin: 10px 0 8px 10px;
    width: 60%;
}
#dashboard .watchlist_table, #dashboard .portfolio_table {
       border-collapse: separate;
}
#dashboard .watchlist_table tr, #dashboard .portfolio_table tr {
       border-bottom: none;
}
#dashboard .watchlist_table td, #dashboard .portfolio_table td {
       border-bottom: 1px solid #EBEBEB;
}
.watchlist_table td .trade, .watchlist_table td .change, .watchlist_table td .pctchange, .watchlist_table td .volume, .portfolio_table td .trade {
    text-align: left;
}
.portfolio_table td .change, .portfolio_table td .change_perc, .portfolio_table td .pctchange, .portfolio_table td .gain_perc {
    text-align: left;
}
.portfolio_table td .total_gain, .portfolio_table td .total_gain_perc {
    text-align: left;
}
#dashboard .watch_port_arrow {
    width: 5%;
}
#dashboard .watch_port_symbol {
    width: 20%;
}
#dashboard .watch_port_trade {
    width: 19%;
}
#dashboard .watch_port_change {
    width: 19%;
}
#dashboard .watch_port_perc {

    width: 19%;
}
#dashboard .watch_port_volume {
    width: 18%;
}
#dashboard .watchlist_table .button_symbol_option, #dashboard .portfolio_table .button_symbol_option {
    margin: 5px 0 5px 0;
}
#dashboard .dash_WLloadMore {
       padding: 7px 23px;
       margin-top: 2px;
}
#dashboard .goto-portfolio-page {
	top: 6px;
	right: 15px;
	display :none;
	width: 200px;
	margin: 5px auto 5px auto;
}

/****************Movers percentage volume relates styles*************************/
.dashboard_movers_chart .vol_wrapper {
    background: #E3E2E2;
    border-radius: 4px;
    height: 15px;
    width: 100px;
    margin-right: 10px;
    overflow: hidden;
}
.dashboard_movers_chart .vol_wrapper > div {
    height: 100%;
    border-radius: 4px;
}
.fill_red {
    background: #C00;
}
.fill_green {
    background: #090;
}
.movers_loadspinner {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 53px;
    display: none;
}
#dashboard .movers section header .movers_loadspinner > img {
    width: 30px;
}
#dashboard_overlay {
    display: none;
}

/***************Open Account *******************/
.dashboard_OpenAccount {
    display: none;
    width: 95%;
    height: 90%;
    top: 5%;
    left: 2%;
    z-index: 5000;
    position: fixed;
    border: 6px solid #121212;
    background: white;
}
.dashboard_OpenAccount iframe {
    width: 100%;
    height: 95.8%;
    overflow: scroll;
}

/***************Why Choose ETRADE *******************/
#dashboard_ChooseEtrade {
    display: none;
    width: 710px;
    height: 90%;
    top: 5%;
    left: 50%;
    margin-left: -361px;
    z-index: 5000;
    position: fixed;
    border: 6px solid #121212;
    background-color: #fff;
}
.dash_whyChooseEtrade_content {
    overflow: hidden;
    position: absolute;
    background-color: #fff;
}
#dashboard_ChooseEtrade .footer {
    position: absolute;
    height: 86px;
    bottom: 0;
    background-color: #121212;
    width: 100%;
}
#dashboard_ChooseEtrade .footer .copy {
    float: left;
    width: 450px;
    text-align: center;
}
#dashboard_ChooseEtrade .footer .main_copy {
    font-size: 23px;
    color: white;
    margin: 23px 0 4px 0;
    font-weight: bold;
}
#dashboard_ChooseEtrade .footer .sub_copy {
    font-size: 13px;
    color: #999;
    font-weight: bold;
}
#dashboard_ChooseEtrade .footer .open_account_btn {
    float: right;
    width: 134px;
    font-weight: normal;
    margin: 30px 50px 0 0;
}
#dashboard_chart_loading_container {
       width:100%;
       position:relative;
}
#dashboard_chart_loading {
       width:100%;
       position:absolute;
    margin-top: -115px;
       text-align:center;
       color:#909090;
}
#dashboard_chart_duration {
    width: 330px;
    margin: 0 auto;
    padding: 8px 0;
    overflow: hidden;
}
#dashboard_chart_duration .first, #dashboard_chart_duration .middle, #dashboard_chart_duration .last {
    float: left;
    width: 40px;
    padding: 5px 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
#dashboard_chart_duration .active {
    background: url(../../images/dashboard/type_bg.png) repeat-x;
    box-shadow: inset 0 0 1px 1px #9e9e9e;
    cursor: text;
    color: #fff;
}
#dashboard_chart_duration .first {
    border: 1px solid #c2c2c2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#dashboard_chart_duration .middle {
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}
#dashboard_chart_duration .last {
    border-top: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.dashboardlivevideo {
       background-position:0px 0px;
       background-image: url('../../images/dashboard/cnbc_video_live_sprite.png');
       background-repeat: no-repeat;
    height: 220px;
    width: 206px;
    margin: 0 auto;
    cursor: pointer;
}
.dashboardlivevideo:active {
       background-position:0px -215px;
}



/*==============RADIO BUTTON STYLES=================*/
.dashboard_radio_option {
       float:right;
       height:30px;
       width:30px;
       cursor:pointer;
}
.dashboard_radio_unchecked {
       background-image:url("../../images/radiounchecked_big.png") ;
       background-repeat:no-repeat;
       background-size: 25px 25px;
       background-position-y: 0.5px;
}
.dashboard_option_radio_active {
       background-image:url('../../images/radio_on.png');
       background-repeat:no-repeat;
}
.dashboard_option_radio_inactive {
       background-image:url('../../images/radio_off.png');
       background-repeat:no-repeat;
       background-position-y: -1px;
}


.dashboard_radiolbl {
       padding-bottom:5px;
}
.dashboard_option_div {    
       float:left;
       margin-left: 13px;
       text-align: left;
       text-indent: 4px;
}

/******************Index Futures Styles ********************/
#dashboard_index_futures{
       display:none;
       height: 115px;
}
.db_Index_Futures{
       width:33.0%;
       height: 84%;
}
#dashboard .db_Index_Futures .dashboard_index_futures_h1{
       padding: 4%;
       background-color: #767676;
       border: 1px solid white;
       color: #fff;
       white-space: nowrap;
       font-weight: bold;
}
.dashboard_futures_carrot{
       width: 35px;
       height: 28px;
       padding: 1%;
       float: left;
       margin: 7% 0 0 9%;
       background: url("../../images/main-sprite.png") no-repeat transparent -10px -280px;
}

.dashboard_futures_carrot.greenUp{
       background: url("../../images/main-sprite.png") no-repeat transparent -10px -247px;
}
.dashboard_futures_carrot.redDown{
       background: url(../../images/main-sprite.png) no-repeat transparent -53px -247px;
}
.indx_lastTrade{
       display: block;
       padding: 4% 4% 0 0;
}
.indx_change{
       display: block;
       padding: 0 4% 0 0;
}
.indx_changePerc{
       display: block;
       padding: 0 4% 0 0;
}
.dashboard_futuresContent{
       text-align: right;
}
.db_indx_footer{
       clear:both;
       height: 10px;
}

.watchlist_table tfoot{
       display :none;
}

.editWatchlist, .doneEditWatchlist{
       position : absolute;
       right :0px;
       padding: 7px 15px;
       margin: 9px 15px;
}

.remove_quote{
    float: left;
    background-image: url('../../images/main-sprite.png');
	background-repeat: no-repeat;
	background-position: -702px -7px;
    width: 28px;
    height: 28px;
    margin: 2px 8px 0 13px;
}


#dashboard #watchlist_table .button_symbol,#dashboard #watchlist_table .button_symbol_option {
       margin-left: 10px;
       float: left;
}

.dbwlitems_draggablehandle{
       float: right;
       width: 35px;
       height: 25px;
       margin: 5px 28px 0 0;
       background: url('../../images/compare/compare_item_opts.png') no-repeat 90% 10%;
       cursor: move;
       position: absolute;
       right: 0px;
}
.dbwlitems_pad{
       margin:21px 28px 0 0;
}
.quote_pad {
       margin-top:18px;
}

#accountsPanel_loadSpinner{
	display:none;
}

/* Accounts Styles*/
td.acct_ovrw_header_item {
color: gray;
font-size: 8pt;
padding: 9px 0px 2px 15px;
}


td.acct_ovrw_header_low {
font-size: 19px;
font-weight: bold;
padding-left: 15px;
padding-bottom: 10px;
}

td.acct_ovrw_header_low.assets {
font-size: 24px;
}

.accounts_portfolio_summary_small {
font-weight: thin;
display: inline;
font-size: 12px;
}

.accounts_performance_period_selector {
text-align: center;
line-height: 30px;
display: table;
width: 100%;
font-size: 10px;
border: 1px solid #e6e6e6;
font-family: ETFAvenirHeavy;
}

.accounts_apps_table {
display: table;
border-bottom: 1px solid #e6e6e6;
border-left: 1px solid #e6e6e6;
width: 100%;
}

.accounts_apps_table_row {
display: table-row;
border-right: 1px solid #c2c2c2;
}

.accounts_performance_sp {
float: right;
height: 20px;
width: 57px;
background-image: url(../../images/main-sprite.png);
background-repeat: no-repeat;
background-position: -627px -149px;
}
.accounts_performance_nas {
float: right;
height: 20px;
width: 56px;
background-image: url(../../images/main-sprite.png);
background-repeat: no-repeat;
background-position: -567px -149px;
}

.accounts_performance_dow {
float: right;
height: 20px;
width: 51px;
background-image: url(../../images/main-sprite.png);
background-repeat: no-repeat;
background-position: -512px -149px;
}

.accounts_performance_dow.true {
background-position: -512px -127px;
}

.accounts_performance_nas.true {
	background-position:-568px -127px;
}
.accounts_performance_sp.true {
	background-position:-628px -127px;
}

.quote_dropdown {
/*width: 250px;QuotesLookup change */
width:100%;
height:100%;
top:13px;
}

#portfolio_table .gain_perc {
	display:none;
}


@media screen and (min-aspect-ratio: 4/3) {
    #dashboard .market table {
        margin-right: 15%;
    }
    #dashboard .market table td.row1 {
        font-size: 26px;
    }
    #dashboard .movers .movers_stock {
        width: 35%;
    }
    #dashboard .news section header {
        margin-bottom: 15px;
    }
    #dashboard .news section header > p {
        font-size: 14px;
    }
    #dashboard .news.box > ul li.active {
        background-position: center 32px;
        padding-bottom: 14px;
    }
    #dashboard .dash_news .left_news {
        float: left;
        width: 43%;
        padding: 0 2% 0 1%;
        margin: 10px 0 0 15px;
        border-right: 1px solid #808080;
    }
    #dashboard .dash_news .right_news {
        float: right;
        width: 45%;
        padding: 0 3% 0 2%;
        margin-top: 10px;
    }
    #dashboard .news section > footer p {
        left: 145px;
        bottom: 25px;
    }
    #dashboard .news section > footer .market_news {
        bottom: 15px;
    }
    #dashboard .movers .movers_type p {
        font-size: 15px;
    }
    #dashboard .movers .movers_gain, #dashboard .movers .movers_loss {
        margin: 15px 0 0 10px;
        width: 150px;
    }
    #dashboard .movers .type {
        margin: 11px 10px 10px 0;
    }
    #dashboard .movers_loadspinner {
        right: 31%;
    }
    #dashboard .movers header .pos2 {
        left: 232px;
    }
    #dashboard .dash_login_wait_spinner {
        margin-left: 15px;
    }
    #dashboard .dash_login .forgot_pass {
        right: 5px;
    }
    #dashboard .watchlist_table td.arrow, #dashboard .portfolio_table td.arrow {
        width: 40px;
    }
    #dashboard .dash_whyChooseEtrade_content {
        height: 82%;
    }
    #dashboard .dash_login .open_account_ad {
        width: 380px;
    }
    #dashboard .dash_login .open_account_ad .header {
        font-size: 23px;
    }
    #dashboard .dashboard_wladdquotes {
        width: 21%;
    }
       #dashboard .watchlist_select,#dashboard .dashboard_portfolio_select_display {
           width: 39%;
       }    
       #dashboard .goto-watchlist, #dashboard .goto-portfolio, #dashboard .goto-portfolio-page {
           padding: 7px 30px;
       } 
       #dashboard .port_show {
              display:none;
       }
       #dashboard .land_show {
              position: absolute;
       }
       #dashboard .dothree {
              height:130px;
              margin: 17px 15px 0px 220px;
       }
       .db_Index_Futures{
              margin-right:1px;
       }
       .indx_lastTrade{
              font-size: 18px;
       }
       .indx_change{
              font-size: 18px;
       }
       .indx_changePerc{
              font-size: 14px;
       }
       .db_indx_footer{
              font-size: 12px;
       }
       #dashboard .watchlist section > header {
              height: 48px;
       }
       .dashboard_watchlist_select_display{
              width : 38%;
       }
       #dashboard .dashboard_wladdquotes {
              left: 46%;
              top: 53px;
       }
       .dbWL_loadspinner{
              position: absolute;
              left: 480px;
              top: 50px;
       }
}

@media screen and (max-aspect-ratio: 4/3) {
    #dashboard .market table {
        margin-right: 8%;
    }
    #dashboard .market table td.row1 {
        font-size: 24px;
    }
    #dashboard .movers .movers_stock {
        display: none;
    }
    #dashboard .box.news header {
        height: 73px;
    }
    #dashboard .box.news ul {
        top: 51px;
    }
   #dashboard .news section header {
        margin-bottom: -20px;
    }
    #dashboard .news section header > p {
        font-size: 12px;
    }
    #dashboard .news.box > ul li.active {
        background-position: center 28px;
        padding-bottom: 10px;
    }   
    
    #dashboard .dash_news .left_news {
        float: left;
        width: 85%;
        padding: 0 2% 0 1%;
        margin: 10px 0 0 15px;
        border-right: none;
    }
    #dashboard .dash_news .right_news {
        float: left;
        width: 85%;
        padding: 0 3% 0 2%;
        margin: 10px 0 0 10px;
    }
    #dashboard .news section > footer p {
        left: 16px;
        bottom: 5px;
    }
    #dashboard .news section > footer .market_news {
        bottom: 22px;
    }
    #dashboard .movers .movers_type p {
        font-size: 12px;
        height: 14px;
    }
    #dashboard .movers .movers_gain, #dashboard .movers .movers_loss {
        margin: 15px 0 0 3px;
        width: 109px;
    }
    #dashboard .movers .type {
        margin: 11px 1px 10px 0;
    }
    #dashboard .movers_loadspinner {
        right: 35%;
    }
    #dashboard .movers header .pos2 {
        left: 165px;
    }
    #dashboard .dash_login_wait_spinner {
        margin-left: 8px;
    }
    #dashboard .dash_login .forgot_pass {
        right: 0;
    }
    #dashboard .watchlist_table td.arrow, #dashboard .portfolio_table td.arrow {
        width: 0;
    }
    #dashboard .dash_whyChooseEtrade_content {
        height: 87%;
    }
    #dashboard .dash_login .open_account_ad {
        width: 350px;
    }
    #dashboard .dash_login .open_account_ad .header {
        font-size: 20px;
    }
    #dashboard .dashboard_wladdquotes {
        width: 54%;
    }
    .seveninch #dashboard .dashboard_wladdquotes {
        padding-left: 35px;
    }
       #dashboard .watchlist_select, #dashboard .dashboard_portfolio_select_display {
           width: 205px;
       }      
       #dashboard .goto-watchlist, #dashboard .goto-portfolio, #dashboard .goto-portfolio-page {
           padding: 7px 15px;
       }
       #dashboard .port_show {
              display:block;
       }
       #dashboard .land_show {
              float : left;
       }
       #dashboard .dothree {
              height:100px;
              float:right;
              display:block;
              width:50%;
              margin:auto;
              top:10px;
       }
       .db_Index_Futures{
              margin-right:0px;
       }    
       .indx_lastTrade{
              font-size: 12px;
       }
       .indx_change{
              font-size: 12px;
       }
       .indx_changePerc{
              font-size: 10px;
       }
       #dashboard .db_Index_Futures .dashboard_index_futures_h1{
              font-size: 10px;
       }
       .db_indx_footer{
              font-size: 9px;
       }
       #dashboard .watchlist .dashboard_watchlist > header {
       height: 88px;
       }
       #dashboard .watchlist .watchlist_portfolio > header {
       height: 52px;
       }
       .dashboard_watchlist_select_display{
              width : 92%;
       }
       
       #dashboard .dashboard_wladdquotes {
              top: 94px;
              left: 15px;
       }
       .editWatchlist, .doneEditWatchlist{
              top:85px;
       }
}

@media screen and (max-width: 1010px) {
    .box.news header {
        height: 73px;
    }
    .box.news ul {
        top: 51px;
    }
    #dashboard .news.box > ul li.active {
        background-position: center 28px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1461px) {
    #dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
        width: 33.1%;
    }
}

@media screen and (min-width: 1015px) and (max-width: 1460px) {
    #dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
        width: 33%;
    }
}

@media screen and (min-width: 785px) and (max-width: 1014px) {
    #dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
        width: 32.9%;
    }
}

@media screen and (min-width: 770px) and (max-width: 784px) {
    #dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
        width: 32.8%;
    }
}

/* For iPad */
@media screen and (min-width: 768px) and (max-width: 769px) {
    #dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
        width: 32.8%;
    }
}

@media screen and (max-width: 767px) {
    #dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
        width: 32.8%;
    }
    .seveninch #dashboard .market section .DJIA, #dashboard .market section .NASDAQ, #dashboard .market section .SP500 {
        width: 33%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
       #dashboard .movers .movers_gain {
              background-image:url(../../images_2x/dashboard/movers_arrow_up_inactive.png);
              background-repeat:no-repeat;
              background-size:14px 17px;
       }
       #dashboard .movers .movers_loss {
              background-image:url(../../images_2x/dashboard/movers_arrow_down_inactive.png);
              background-repeat:no-repeat;
              background-size:14px 17px;
       }
       #dashboard .movers .movers_gain.active {
              background-image:url(../../images_2x/dashboard/movers_arrow_up_active.png);
              background-repeat:no-repeat;
              background-size:14px 17px;
       }
       #dashboard .movers .movers_loss.active {
              background-image:url(../../images_2x/dashboard/movers_arrow_down_active.png);
              background-repeat:no-repeat;
              background-size:14px 17px;
       }
       .dashboard_futures_carrot{
              background: url("../../images_2x/main-sprite.png") no-repeat transparent -10px -280px;
              background-size:800px 400px;
       }
       .dashboard_futures_carrot.greenUp{
              background: url(../../images_2x/main-sprite.png) no-repeat transparent -10px -247px;
              background-size:800px 400px;
              width: 38px;
			  height: 32px;
       }
       .dashboard_futures_carrot.redDown{
              background: url(../../images_2x/main-sprite.png) no-repeat transparent -53px -247px;
              background-repeat:no-repeat;
              background-size:800px 400px;
              width: 38px;
			  height: 32px;
       }
       
       .remove_quote{
		    background: url('../../images_2x/main-sprite.png') no-repeat transparent -702px -7px;
		    width:22px;
		    height:22px;
			background-size:800px 400px;			
		}
		
		#dashboard .dash_login .open_account_ad {
           background-image: url(../../images_2x/dashboard/buy_sell.png);
           background-repeat:no-repeat;
           background-size:95px 93px;
           margin: 0 auto;
           margin-top: 20px;
           margin-bottom: 15px;
           height: 100px;
       } 
       
       #dashboard .dashboard_wladdquotes_unfocus {
              background-image: url('../../images_2x/main-sprite.png');
              color: white;
              background-color: white;
              background-position: -771px -344px;
              background-size: 800px 400px;
              background-repeat: no-repeat;
       } 
       
       #dashboard .watchlist table.main .arrow_right {
              background-image: url(../../images_2x/main-sprite.png);
              background-size:800px 400px;
       }
       #dashboard .watchlist table.main .arrow_down {
              background-image: url(../../images_2x/main-sprite.png);
              background-size:800px 400px;
       }
       
       .dashboardlivevideo {
              background-position:0px 0px;
              background-image: url('../../images_2x/dashboard/cnbc_video_live_sprite.png');
              background-repeat: no-repeat;
              background-size:208px 429px;
       }
       .dashboardlivevideo:active {
              background-position:0px -215px;
       }
       
       .dashboard_radio_unchecked {
              background-position:-57px 0px;
              background-image: url('../../images_2x/common/radio_buttons.png');
              background-repeat: no-repeat;
              background-size:83px 23px;
       }
       .dashboard_option_radio_active {
              background-position:0px 0px;
              background-image: url('../../images_2x/common/radio_buttons.png');
              background-repeat: no-repeat;
              background-size:83px 23px;
       }
       .dashboard_option_radio_inactive {
              background-position:-27px 0px;
              background-image: url('../../images_2x/common/radio_buttons.png');
              background-repeat: no-repeat;
              background-size:83px 23px;
       }

}

@media all and (orientation: landscape) {
    /* 7 inch device */
    .seveninch #dashboard_index_futures {
        height: 140px;
    }
}
