
/* ==|== News left nav ================================================ */
.news_left_nav .left_nav_header {
	position: absolute;
	top: 0px;
	left: 0;
	height: 100px;
	background: url(../../images/watchlist/watchlist_bg.png) repeat #1d1d1d;
	border-bottom: 1px solid #3b3b3b;
}
.news_left_nav .news_header {
	border-bottom: 1px solid #2F2F2F;
	height: 50px;
	box-shadow: inset 2px 2px 10px #1a1a1a;
}
.news_left_nav .news_header h1 {
	font-family: ETFAvenirHeavy;
	position: relative;
	top: 10px;
	left: 10px;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-shadow: 2px 2px #444;
}
.news_left_nav .news_nav {
	height: 45px;
}
.news_left_nav .news_nav ul {
	position: relative;
	top: 17px;
	left: 20px;
	list-style: none;
	color: #8a8684;
	font-weight: bold;
}
.news_left_nav .news_nav ul li {
	display: inline;
	padding: 12px 0 19px 0;
	font-size: 12px;
	cursor: pointer;
}
.news_left_nav .news_nav ul li.active {
	color: #fff;
	background: url(../../images/news/news_menu_arrow.png) no-repeat;
	background-position: center 36px;
}
.news_left_nav .watchlist_nav_shadow {
	background: url(../../images/watchlist/watchlist_nav_border.png) repeat-x;
	height: 4px;
	margin-top: 5px;
}
.news_left_nav .news_type_dropdown {
	display: none;
	height: 71px;
	background: #3b3b3b;
	margin-top: 5px;
}
.news_type_dropdown .news_type_select {
	float: left;
	margin: 20px 20px 0 13px;
}
.news_type_dropdown .news_dropdown {
	float: left;
	margin: 10px 20px 0 5px;
}
.news_type_dropdown select.dropdown {
	top: 10px;
	left: 8px;
}
.news_type_dropdown .select_dropdown_container {
	width: 240px;
}
.news_type_dropdown .select_dropdown_black {
	box-shadow: 0 0 2px 2px #292929;
}
.news_left_nav .news_portfolio_section, .news_left_nav .news_watchlist_section {
	display: none;
}
.news_left_nav .news_wrap {
	position: absolute;
	top: 149px;
	bottom: 0;
	left: 0;
	background: #222;
	overflow: auto;
}
.news_left_nav .news_wrap .news_listing_scroller {
	width: 100%;
}
.news_left_nav .sidebarleft ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	color: #fff;
}
.news_left_nav .sidebarleft ul footer {
	margin-top: 8px;
	color: #a1a1a1;
}
.news_left_nav .sidebarleft ul .news_nonewstitle {
	padding: 20px 0 0 20px;
	font-size: 18px;
}
.news_left_nav .sidebarleft ul li:nth-child(odd), .news_left_nav .sidebarleft ul li:nth-child(even) {
	border-bottom: 1px solid #4e4e4e;
	cursor: pointer;
}
.news_left_nav .sidebarleft ul li a {
	display: block;
	padding: 15px 10px 24px 12px;
}
.news_left_nav .sidebarleft ul li.active {
	color: #404040;
}
.news_left_nav .sidebarleft ul li.active::after {
	margin: -45px 0 0 0;
}
.news_left_nav .sidebarleft ul li.active a.quote, .news_left_nav .sidebarleft ul li.active table td strong {
	color: #232323;
}
.news_left_nav .sidebarleft ul li a header.news_itemactive {
	color: #000000;
	font-size: 15px;
}
.news_left_nav .sidebarleft ul li a header.news_itemread {
	font-size: 15px;
	color: #FFFFFF;
}
.newssmallwaiticon {
	position: absolute;
	top: 9em;
}

/* ==|== Content ======================================== */
.news_content_area {
	position: absolute;
	top: 0px;
	bottom: 0;
	right: 0;
	background: url(../../images/background.png);
	overflow: auto;
}
.news_content_area.norecords {
	background: none;
	background-color: #e7e6e6;
}
.news_content_area .newscontentwrapper {
	width: 100%;
}
.news_content_area .content_wrapper {
	min-height: 73em;
}
.news_content_area .news_norecords {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -123px;
	margin-top: -7%;
}
.news_content_area .news_norecords .news_norecords_image {
	background: url(../../images/common/norecords.png);
	width: 54px;
	height: 69px;
	float: left;
	margin-right: 10px;
}
.news_content_area .news_norecords .news_norecords_message {
	float: left;
	width: 180px;
	height: 42px;
	font-size: 20px;
	line-height: 25px;
	padding-top: 25px;
	color: #666;
}

/* ==|== .news_news_content ========================= */
.news_news_content {
	padding: 5px 25px 0 35px;
}
.news_news_content .detail_news_font_change {
	width: 100%;
}
.news_news_content header {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 5px;
	line-height: 25px;
}
.news_news_content footer {
	color: #c4c4c4;
}
.news_content_author {
	color: #C4C4C4;
	padding-bottom: 2%;
	padding-top: 0.8%;
}
.news_news_content footer p {
	margin-bottom: 5px;
}
.news_news_content article {
	margin-right: 15px;
}
.news_news_content article p {
	line-height: 18px;
	margin-bottom: 20px;
}
.news_news_content .news_quick_panal {
	float: right;
	width: 280px;
	background-color: #f1f1f1;
	margin: 0 0 10px 10px;
}
.news_news_content .panel_header {
	color: #a1a1a1;
	font-weight: bold;
	font-size: 11px;
	padding: 15px 0 0 5px;
}
.news_news_content .panel_header header {
	font-size: 12px;
	line-height: 0;
	margin-bottom: 10px;
}
.news_news_content .panel_header footer {
	font-size: 11px;
	font-weight: normal;
	color: #a1a1a1;
	margin-bottom: 5px;
}
.news_news_content .news_quick_panal .news_quick_quote_box {
	width: 278px;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	border-top: 1px solid #bcbcbc;
}
.news_news_content .news_quick_panal .news_quick_scroller {
	width: 2100px;
	height: 100%;
}
.news_news_content .news_quick_panal .news_quick_scroller li {
	display: block;
	float: left;
	width: 300px;
}
.news_news_article_quick .msg {
	height: 15px;
	background: #fff;
	padding: 15px 0 15px 40px;
	color: #666;
}
.news_news_article_quick footer {
	background: url(../../images/dashboard/dashboard_acct_bg.png) repeat-x;
	width: 99.5%;
	height: 25px;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
}
.news_news_article_quick footer ul {
	padding-top: 7px;
}
.news_news_article_quick .news_quick_footer_wrap {
	text-align: center;
}
.news_news_article_quick footer ul > li {
	display: inline-block;
	text-indent: -9999em;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background: #ddd;
	overflow: hidden;
	margin-right: 8px;
}
.news_news_article_quick footer ul > li.active {
	background: #888;
}
.news_news_content .news_quick_panal .quote_sec {
	overflow: hidden;
	border-bottom: 1px solid #e4e4e4;
	font-size: 12px;
	margin-left: 2px;
	padding-bottom: 10px;
	width: 274px;
	background-color: #fff;
}
.news_news_content .news_quick_panal .quote_sec table {
	width: 100%;
}
.news_news_content .news_quick_panal .quote_sec table td.symbol {
	width: 33%;
	padding: 10px 0 0 8px;
}
.news_news_content .news_quick_panal .quote_sec table td.desc {
	width: 60%;
	padding: 10px 5px 0 0;
}
.news_news_content .news_quick_panal .quote_sec table td.last {
	padding: 10px 0 0 8px;
}
.news_news_content .news_quick_panal .quote_sec table td .last_price {
	padding: 8px 5px;
	width: 65px;
}
.news_news_content .news_quick_panal .quote_sec table td .quote_change {
	margin-right: 5px;
}
.news_news_content .news_quick_panal .quote_sec table td.change {
	padding-top: 10px;
}
.news_news_content .news_quick_panal .quote_sec table td.change div {
	float: left;
}
.news_news_content .news_quick_panal .quote_sec .header {
	line-height: 1.5em;
}
.news_news_content .news_quick_panal .bold {
	font-weight: bold;
	font-size: 13px;
	margin-top: 5px;
}

/***********PULL DOWN STYLES**************/

#news #newspulldown .pullDownIcon {
	display: block;
	float: left;
	width: 32px;
	height: 40px;
	background: url('../../images/update_arrow_down.png') 0 0 no-repeat;
	-webkit-background-size: 32px 40px;
	background-size: 32px 40px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 0ms;
	margin-right: 10px;
}
#news #newspulldown.flip .pullDownIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}
#news #newspulldown.loading .pullDownIcon {
	background: url('../../images/global/spinner_small_app_bg.gif') 0 0 no-repeat;
	width: 32px;
	height: 32px;
	margin-top: 6px;
}
#news #newspulldown .pullDownLabel {
	display: block;
	color: #000;
	margin-top: 15px;
}
#news #newspulldown .pullDownTime {
	font-size: 14px;
	color: #666;
}

/* Media Styles */

@media all and (orientation: landscape) {
	.news_left_nav .left_nav_header, .news_left_nav .news_wrap {
		width: 350px;
	}
	.news_content_area {
		left: 350px;
	}
	.news_left_nav .news_nav ul li {
		margin-right: 40px;
	}
	.news_left_nav .sidebarleft ul footer {
		font-size: 12px;
	}
	.newssmallwaiticon {
		right: 10%;
	}
}

@media all and (orientation: portrait) {
	.news_left_nav .left_nav_header, .news_left_nav .news_wrap {
		width: 257px;
	}
	.news_content_area {
		left: 257px;
	}
	.news_left_nav .news_nav ul li {
		margin-right: 13px;
	}
	.news_left_nav .sidebarleft ul footer {
		font-size: 10px;
	}
	.newssmallwaiticon {
		right: 5px;
	}
}

@media all and (max-width: 800px) {
	.news_left_nav .left_nav_header, .news_left_nav .news_wrap {
		width: 257px;
	}
	.news_content_area {
		left: 257px;
	}
	.news_left_nav .news_nav ul li {
		margin-right: 13px;
	}
	.news_left_nav .sidebarleft ul footer {
		font-size: 10px;
	}
	.newssmallwaiticon {
		right: 5px;
	}
}