@charset "utf-8";
/* CSS Document */



/*============COMMON CSS=============*/
.compare_column_wrapper .compare_wait_icon, .compare_row_wrapper .compare_wait_icon {
    position: absolute;
    top: 10px;
    left: 2%;
    background: #F6F6F6;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    width: 120px;
    height: 80px;
}
.compare_column_wrapper .load_spinner, .compare_row_wrapper .load_spinner {
    margin-top: 23px;
}
.compare_column_wrapper .compare_column_timestamp, .compare_row_wrapper .compare_row_timestamp, .compare_chart_wrapper .compare_chart_timestamp {
    height: 18px;
    padding-top: 7px;
    text-align: center;
    color: #999;
    background: #E3E1E1;
    font-size: 11px;
}
.compare_chart_wrapper .compare_chart_timestamp {
	position: absolute;
	top: 9px;
	left: 2%;
}
.compare_column_wrapper .button_symbol_option {
	height: 26px;
	font-size: 10px;
}
.compare_row_wrapper .compare_row_item_head .button_symbol_option > .symbol, .compare_column_wrapper .button_symbol_option > .symbol {
	font-size: 12px;
	margin-top: -1px;
	margin-bottom: -2px;
}
.compare_row_wrapper .compare_row_item_head .button_symbol_option > .date, .compare_column_wrapper .button_symbol_option > .date {
	margin-bottom: -1px;
}

/* ==|== Main top nav ================================================ */
.compare_top_nav {
    top: 0;
    width: 100%;
    background: url(../../images/compare/compare_top_menu.png) repeat #FFFFFF;
    border-bottom: 1px solid #444;
    color: white;
    position: absolute;
}
.compare_top_nav .compare_header {
	font-family: ETFAvenirHeavy;
    float: left;
    margin: 10px;
    color: white;
	font-weight: normal;
	font-size: 24px;
    text-shadow: 2px 2px #444;   
}
.compare_top_nav li {
    display: inline;
    color: #8a8684;
    text-transform: uppercase;
}
.compare_top_nav li.active {
    color: white;
}
.compare_top_nav li a {
    color: #8a8684;
}
.compare_top_nav li a.active {
    background: url(../../images/compare/compare_selected_arrow.png) no-repeat;
    background-position: center 37px;
    color: #fff;
}
.compare_top_nav li a:link {
    display: inline;
}
.compare_top_nav .select_dropdown_container {
    width: 170px;
}
.compare_top_nav .select_dropdown_container select option {
    background: #393939;
    color: #949494;
}
.compare_top_nav .select_dropdown_container .select_dropdown_black {
    box-shadow: 0 0 2px 2px #292929;
}
.compare_top_nav .compare_watchlist_select {
    position: absolute;
}
.compare_top_nav ul.compare_top_selection {
    position: absolute;
    height: 43px;
}
.compare_top_nav ul.compare_top_selection li {
    font-weight: bold;
}
.compare_top_nav .compare_add_quote_box {
    position: absolute;
    top: 0;
}
.compare_top_nav .sidebarleft_roundedbox {
    position: relative;
    margin: 0.563em;
    padding-left: 2.4em;
    left: 0.938em;
    width: 73%;
    height: 1.95em;
}
.compare_top_nav .compare_modify, .compare_top_nav .compare_done {
    float: right;
    color: gray;
}
.compare_top_nav .compare_modify {
    display: block;
}
.compare_top_nav .compare_done {
    display: none;
}
.compare_dirtyReadIndicator {
    color: #949494;
    font-weight: bold;
    font-size: 18pt;
}

/* ==|== Compare Column View ================================================ */
.compare_column_wrapper {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../../images/compare/compare_tile.png) #E0DEDE repeat-y;
}
.compare_column_wrapper #compare_column_wrapper_scroller {
    height: 680px;
}

/* ==|== Compare Column View Left Menu ======================================== */
.compare_column_wrapper .compare_column_left_nav {
    width: 200px;
}
.compare_column_wrapper .sidebarleft {
    position: relative;
    top: 110px;
    left: 0;
}
.compare_column_wrapper .sidebarleft ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #545454;
}
.compare_column_wrapper .sidebarleft ul li {
    padding: 6px 5px 5px 15px;
    cursor: default;
    color: white;
    font-size: 8pt;
}

/* ==|== Compare Column View Content ======================================== */
.compare_column_wrapper .compare_column_right_nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 200px;
    padding-bottom: 10px;
}
.compare_column_wrapper .compare_column_scroller {
    width: 200px;
    overflow: hidden;
}
.compare_column_wrapper .compare_column_item {
    display: inline-block;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid #d5d5d5;
    height: 100%;
    float: left;
    width: 200px;
    z-index: 50;
}
.compare_column_wrapper .compare_column_item_head {
    height: 83px;
    width: 100%;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f3f3f3), color-stop(1, #dedcdc) );
	background: -moz-linear-gradient( center top, #f3f3f3 5%, #dedcdc 100% );
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.compare_column_wrapper .compare_column_item_head_modify {
    display: none;
    float: right;
    width: 22px;
    height: 22px;
    margin: 7px 8px 0 0;
    background: url(../../images/compare/compare_item_delete.png);
}
.compare_column_wrapper .compare_column_item_head_opts {
    float: right;
    width: 17px;
    height: 13px;
    padding: 10px 0 30px 30px;
    margin: 5px 5px 0 0;
    background: url(../../images/compare/compare_item_opts.png) no-repeat 90% 10%;
    cursor: move;
}

.compare_column_wrapper .compare_column_item_head_company {
    font-size: 12px;
    padding: 7px 10px 7px 10px;
    font-weight: bold;
}
.compare_column_wrapper .symbol_code {
	margin-top: 5px;
	height: 42px;
}
.compare_column_wrapper .symbol_code td {
    padding-left: 8px;
}
.compare_column_wrapper .button_symbol, .compare_column_wrapper .button_symbol_option {
    margin-right: 1px;
}
.compare_column_wrapper .compare_column_item_exchange {
    font-weight: bold;
}
.compare_column_wrapper .compare_column_item_clrbar {
    height: 4px;
	margin-top: 4px;
}
.compare_column_wrapper .compare_column_item_body ul {
    border-top: 1px solid #b0b0b0;
}
.compare_column_wrapper .compare_column_item_body ul li {
    padding: 4px 15px 4px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    font-size: 10.5pt;
    text-align: right;
}
.compare_column_wrapper .compare_column_item_body ul li:nth-child(odd) {
	background-color: #fff;
}
.compare_column_wrapper .compare_column_item_body ul li:nth-child(even) {
	background-color: #fafafa;
}
.compare_column_wrapper .compare_column_item_body ul li.price_gain, .compare_column_wrapper .compare_column_item_body ul li.price_loss {
	color: #fff;	
}
.compare_column_wrapper .compare_column_item_body ul li.gain {
    color: green;
}
.compare_column_wrapper .compare_column_item_body ul li.loss {
    color: red;
}
.compare_column_wrapper .compare_column_item_footer {
    background: #EBEBEB;
    z-index: 100;
    width: 199px;
    height: 50px;
    border-top: 2px solid white;
    border-left: 1px solid white;
}
.compare_column_wrapper .compare_column_footer_trade {
    width: 180px;
    height: 23px;
    margin-left: 8px;
    margin-top: 7px;
    padding-top: 8px;
}

/* ==|== Compare Row View ================================================ */
/* ==|== Compare Row View Left Menu ======================================== */
.compare_row_wrapper {
    position: absolute;
    z-index: 1;
   	top: 45px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0dede;
}
.compare_row_wrapper .compare_row_wrapper_scroller {
    padding-bottom: 10px;
}
.compare_row_wrapper .compare_row_left_nav {
	float: left;
    height: 100%;
    width: 350px;
}
.compare_row_item_list li:nth-child(odd) ul li {
	background: #fff;
}
.compare_row_item_list li:nth-child(even) ul li {
	background: #f3f3f3;
}
.compare_row_wrapper .compare_row_waiticon_content {
    height: 99px;
    background: #efefef;
    border-right: 1px solid #A7A7A7;
    border-bottom: 1px solid #A7A7A7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F3F3F3), color-stop(0.53, #DDDBDB));
    background-image: -moz-linear-gradient(top, #F3F3F3 5%, #DDDBDB 53%);
}
.compare_row_wrapper .compare_row_item_nav {
    width: 100%;
}
.compare_row_wrapper .compare_row_item_nav li {
    height: 36px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    min-width: 330px;
}
.compare_row_wrapper .compare_row_item_nav li:nth-child(odd) {
    background: #fff;
}
.compare_row_wrapper .compare_row_item_nav li:nth-child(even) {
    background: #f3f3f3;
}
.compare_row_wrapper .compare_row_item_nav li.active {
    background: url(../../images/compare/compare_row_arrow_right.png) #303030 no-repeat left center;
    color: #fff;
}
.compare_row_wrapper .compare_row_item_head_modify {
    float: left;
    width: 22px;
    height: 22px;
    margin: 6px 0 0 10px;
    background: url(../../images/compare/compare_item_delete.png);
    display: none;
}
.compare_row_wrapper .compare_row_item_head .button_symbol {
	float: left;
	margin: 3px 15px 0 10px;
}
.compare_row_wrapper .compare_row_item_head .button_symbol_option {
	float: left;
	height: 19px;
	margin: 2px 15px 0 10px;
	font-size: 10px;	
}
.compare_row_wrapper .compare_row_item_head_company {
	float: left;
    padding: 10px 10px 10px 5px;
    font-size: 14px;
    font-weight: bold;
}
.compare_row_wrapper .compare_row_item_color {
    float: right;
    width: 10px;
    height: 100%;
    margin-left: 5px;
    border-right: 1px solid #fff;
}
.compare_row_wrapper .compare_row_item_head_opts {
    float: right;
    width: 17px;
    height: 13px;
    padding: 10px;
    background: url(../../images/compare/compare_item_opts.png) no-repeat 50% 50%;
    cursor: move;
}
.compare_row_wrapper .compare_row_left_nav_bottom {
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F3F3F3), color-stop(0.53, #DDDBDB));
    background-image: -moz-linear-gradient(top, #F3F3F3 5%, #DDDBDB 53%);
    border-top: 1px solid #a7a7a7;
}

/* ==|== Compare Row View Content ======================================== */
.compare_row_wrapper .compare_row_content {
    position: relative;
    overflow: auto;
    padding-bottom: 10px;
}
.compare_row_wrapper .compare_row_scroller {
    width: 2950px;
    height: 100%;
}
.compare_row_wrapper .compare_row_quote_parameters li {
    display: block;
    float:left;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #232323), color-stop(0.53, #171717));
    background-image: -moz-linear-gradient(top, #232323 5%, #171717 53%);
    background-repeat: no-repeat;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    padding: 27px 21px 35px 20px;
}
.compare_row_wrapper .compare_row_quote_parameters li.sortUp {
    background-image: url(../../images/compare/compare_selected_arrow.png), -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #232323), color-stop(0.53, #171717));
    background-position: center bottom, left top;
}
.compare_row_wrapper .compare_row_item li {
    display: block;
    float:left;
    border-bottom: 1px solid #E5E5E5;
    height: 13px;
    padding-top: 12px;
    margin-right: 1px;
    background: #fff;
    text-align: left;
    padding: 13px 20px 10px 20px;
    border-right: 1px solid #E5E5E5;
}
.compare_row_wrapper .compare_row_item li.sortDown {
    background: url(../../images/compare/compare_row_sort_arrow.png) center 0 #f6f6f6 no-repeat;
}
.compare_row_wrapper .compare_row_item li.sortDown_intercept {
    background: url(../../images/compare/compare_row_sort_arrow.png) center 0 #ddedff no-repeat;
}
.compare_row_wrapper .compare_row_item li.row_highlight {
    background: #ECF5FF;
}
.compare_row_wrapper .compare_row_item li.sort_highlight {
    background: #f6f6f6;
}
.compare_row_wrapper .compare_row_item li.row_highlight_intercept {
    background: #ddedff;
}
.compare_row_content .compare_row_quote_parameters li {
    text-align: left;
}
.compare_row_content li.last_trade {
    width: 75px;
}
.compare_row_content li.change {
    width: 50px;
}
.compare_row_content li.change_perc {
    width: 65px;
}
.compare_row_content li.bid_size {
    width: 120px;
}
.compare_row_content li.ask_size {
    width: 120px;
}
.compare_row_content li.volume {
    width: 90px;
}
.compare_row_content li.quote_open {
    width: 70px;
}
.compare_row_content li.pre_close {
    width: 90px;
}
.compare_row_content li.day_hi {
    width: 65px;
}
.compare_row_content li.day_low {
    width: 65px;
}
.compare_row_content li.week_hi {
    width: 150px;
}
.compare_row_content li.week_lo {
    width: 150px;
}
.compare_row_content li.avg_volume {
    width: 80px;
}
.compare_row_content li.market_cap {
    width: 115px;
}
.compare_row_content li.shares_outs {
    width: 120px;
}
.compare_row_content li.p_e {
    width: 60px;
}
.compare_row_content li.eps {
    width: 60px;
}
.compare_row_content li.earnings_date {
    width: 120px;
}
.compare_row_content li.beta {
    width: 40px;
}
.compare_row_content li.yield {
    width: 70px;
}
.compare_row_content li.dividend {
    width: 115px;
}
.compare_row_content li.ex_dividend {
    width: 110px;
}
.compare_row_content li.dividend_date {
    width: 140px;
}

/* ==|== Compare Chart View Content ======================================== */
.compare_chart_wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F0F0F0;
}
.compare_chart_wrapper .compare_chart_header {
	-moz-box-shadow: 0 0 5px 2px #999;
	-webkit-box-shadow: 0 0 5px 2px #999;
	box-shadow: 0 0 5px 2px #999;	
	overflow: hidden;
	display: none;
	background-color:#E3E1E1;
}
.compare_chart_wrapper .compare_chart_options {
	width: 350px;
    height: 40px;   
    background: #E3E1E1;
}
.compare_chart_wrapper .chart_duration {
    width: 330px;
    margin: 0 auto;
    padding-top: 10px;
    overflow: hidden;
}
.compare_chart_wrapper .chart_duration .first, .compare_chart_wrapper .chart_duration .middle, .compare_chart_wrapper .chart_duration .last {
    float: left;
    width: 40px;
    padding: 5px 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
.compare_chart_wrapper .chart_duration .active {
    background: url(../../images/dashboard/type_bg.png) repeat-x;
    box-shadow: inset 0 0 1px 1px #9e9e9e;
    cursor: text;
    color: #fff;
}
.compare_chart_wrapper .chart_duration .first {
    border: 1px solid #c2c2c2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.compare_chart_wrapper .chart_duration .middle {
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
}
.compare_chart_wrapper .chart_duration .last {
    border-top: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.compare_chart_wrapper .compare_main_chart_wrapper {
	margin-top: 5px;
	background-color: #f6f6f6;
	-moz-box-shadow: 0 1px 5px #999;
	-webkit-box-shadow: 0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
}
.compare_chart_wrapper .compare_chart_main_chart {
    width: 100%;
}
.compare_chart_wrapper #compare_chart_price_chart {
    width: 100%;
    height: 490px;
}
#compare_chart_price_chart.large {
	 width: 100%;
    height: 490px;
}
#compare_chart_price_chart.small {
	 width: 100%;
    height: 390px;
}
#compare_chart_price_chart.small .tickLabels .xAxis {
	 display:none;
}
#compare_chart_volume_chart {
    width: 100%;
    height: 100px;
    display: none;
}
.compare_chart_wrapper .compare_chart_symbols_list {
    margin-top: 5px;
    padding: 10px 0;
    overflow: hidden; 
    height:220px;   
}
.compare_chart_wrapper .compare_chart_symbols_list li {
    /*overflow: hidden;
     margin-bottom: 10px;*/
}
.compare_chart_wrapper .compare_chart_symbols_list table {
    float: left;
    width: 105px;
    margin: 5px;
}
.compare_chart_wrapper .compare_chart_symbols_list table td {
    padding-top: 10px;
}
.compare_chart_wrapper .compare_chart_symbols_list table td.perc {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 10px;
}
.compare_chart_wrapper .compare_chart_symbols_list table td.gain {
    color: #009900;
}
.compare_chart_wrapper .compare_chart_symbols_list table td.loss {
    color: #cc0000;
}
.compare_chart_wrapper .compare_chart_symbols_list .compare_chart_checkbox {
	background: url(../../images/compare/compare_input_uncheck.png) no-repeat;
	display : block;
    height: 30px;
    cursor: pointer;
}
.compare_chart_wrapper .compare_chart_symbols_list .compare_chart_checkbox.checked {
    background: url(../../images/compare/compare_input_checked.png) no-repeat;
}
.compare_chart_wrapper .compare_chart_symbols_list .compare_chart_checkbox.uncheck {
    background: url(../../images/compare/compare_input_uncheck.png) no-repeat;
}
.compare_chart_wrapper .compare_chart_item_head_modify {
    display: none;
    background: url(../../images/compare/compare_item_delete.png);
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.compare_savewatchlist {    
    width: 75%;    
    height: 20px;
    border-radius: 20px;
    margin:1em;
    padding-left: 0.5em;
}
.compare_savewlerror { 
    font-size: 9pt;
    display: none;
    margin:0.1em;
}

/*background for no records*/
.compare_nosymbols {    
    display: none;
	position: absolute;
	top: -45px;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 50%;
	height: 80px;
	overflow: hidden;
	padding: 0 0 0 22%;
}
.compare_nosymbols.compare_column,.compare_nosymbols.compare_row  {
	left: 200px;
}
.compare_nosymbols.compare_chart {
	left: 0;
}
.compare_nowlrecords {
	float: left;
    color: #a2a2a1;
    font-size: 15pt;
    line-height: 1.2em;
}
.compare_imgnosymbols {
	float: left;
    background: url(../../images/compare/compare_add_list.png) no-repeat;
    height: 69px;
    width: 54px;
    margin-right: 10px;
}

#compare_chart_loading_container {
	width:100%;
	position:relative;
}
#compare_chart_loading {
	width:100%;
	position:absolute;
    margin-top: -350px;
	text-align:center;
	color:#909090;
}

.compareSymbolsOverlay{
	width: 650px;
	margin: auto;
	height: 55%;
	position: absolute;
	z-index: 2000;
	display: none;
	background-color: #fff;
	top: 0;
	bottom: 0;
	left: 7%;
	right: 0;
}

.symbol_loadspinner{
position: absolute;
width: 30px;
height: 30px;
top: 56%;
left:45%;
display: none;
}



.compareSymbolsOverlay footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #ececec;
	height: 3em;
}

.symbols_container{
position: absolute;
width: 100%;
padding: 0;
overflow: hidden;
}

.selectedSymbols {
	height: 12%;
	background-color: #ececec;
	padding: 10px 0 10px 20px;
	position: absolute;
	width: 96%;
	bottom: 40px;
}

.optionSymbol_container{
	height: 50px;
	padding: 10px 0 10px 10px;
}
.otherSymbol_container{
	height: 40px;
	padding: 20px 0 10px 10px;
	vertical-align: top;
}
.symbols_div{
	width: 80px;
	display: inline-block;
	margin: 0 1px 1px 0;
	box-shadow:1px 1px 1px #e4e4e4;
}

.headerText {
	box-shadow:0px 7px 7px #e4e4e4;
}

.symbols_div_active{
	background-color: #ECF5FF;
}

.symbols_div_active .button_symbol,.symbols_div_active .button_symbol_option{
	background: #003399;
	color: #ffffff;
}

#symbols_container_scroller{
top: 0px;
bottom: 0xp;
width: 100%;
overflow: auto;
}
.headerText_P {
	background-image: url("../../images/exclamation.png");
	text-indent: 5.333em;
}
.headerText_P {
	height: 3em;
	background-repeat: no-repeat;
	background-position: 0.667em 0.333em;
	background-color: #ECF5FF;
	padding: 1.333em 0 0 10px;
	font-weight: bold;
	font-size: 1.067em;
}
#compareSelectedSymbols{
	float: right;
	padding: 8px 10px 8px 10px;
	margin: 3px 0 0 0;
}
#clearSelectedSymbols{
	padding: 7px;
width: 100px;
float: right;
margin: 0.450em 1.333em 0.938em 1.333em;
}

.compareSymbolsOverlayMask{
	z-index: 1109;
	top: 0px;
	display: none;
	opacity: 0.6;
}
.selectedSymbols_span {
	line-height:16px;
}
.selectedSymbols_P{
	font-weight: bold;
}
.button_small_font {
	font-size:12px;
}



/* Media Styles */

/* This is to control the page width based on the different devices */
/* iPad landscape, large media browser */
@media screen and (min-width: 800px) {
    .compare_column_wrapper {
       top: 44px;
    }
    .compare_top_nav {
        height: 43px;
    }
    .compare_top_nav .action_button {
        margin: 7px 15px 0 0;
        padding: 6px 40px 6px 40px;
    }
    .compare_top_nav .compare_add_quote_box {
        right: 160px;
        width: 150px;
    }  
    .compare_top_nav .compare_watchlist_select {
        margin: 7px 10px 5px 155px;
    }
    .compare_top_nav ul.compare_top_selection {
        margin-top: 15px;
        left: 350px;
    }
    .compare_top_nav li a:link {
        padding: 15px 15px 15px 15px;
        font-size: 13px;
    }
	.compare_chart_wrapper .compare_chart_options {
		margin: 0 auto;
	}
	.symbols_container{
		height: 50%;
	}
}

/* iPad portrait, Kindle Fire landscape */
@media screen and (min-width: 600px) and (max-width: 800px) {
    .compare_column_wrapper {
        top: 44px;
    }
    .compare_top_nav {
        height: 43px;
    }
    .compare_top_nav .action_button {
        margin: 7px 5px 0 0;
        padding: 6px 10px 6px 10px;
    }
    .compare_top_nav .compare_add_quote_box {
        right: 85px;
        width: 120px;
    }    
    .compare_top_nav .compare_watchlist_select {
        margin: 7px 10px 5px 120px;
    }
    .compare_top_nav ul.compare_top_selection {
        margin-top: 15px;
        left: 290px;
    }
    .compare_top_nav li a:link {
        padding: 15px 0 15px 15px;
        font-size: 12px;
    }
	.compare_chart_wrapper .compare_chart_options {
		margin: 0 auto;
		margin-right: 15%;
	}   
	.symbols_container{
		height: 60%;
	}
	.compareSymbolsOverlay {
		width:600px;		
		height:46%;
	}	 
}

/* Kindle Fire portrait */
@media screen and (max-width: 600px) {
    .compare_column_wrapper {
       top: 85px;
    }
    .compare_top_nav {
        height: 83px;
    }
    .compare_top_nav .action_button {
        margin: 7px 5px 0 0;
        padding: 6px 10px 6px 10px;
    }
    .compare_top_nav .compare_add_quote_box {
        right: 100px;
        width: 117px;
    }
    .compare_top_nav .compare_watchlist_select {
        margin: 7px 10px 5px 130px;
    }
    .compare_top_nav ul.compare_top_selection {
        margin-top: 54px;
        left: 150px;
    }
    .compare_top_nav li a:link {
        padding: 15px 0 15px 15px;
        font-size: 12px;
    }
	.compare_chart_wrapper .compare_chart_options {
		margin: 0 auto;
		margin-right: 0;
	} 
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.compare_column_wrapper .compare_column_item_head_modify {
		background-image: url(../../images_2x/main-sprite.png);
		background-repeat: no-repeat;
		background-size: 800px 400px;
		background-position: -702px -5px;
		padding: 0px;
		margin:2px 4px;
		height: 26px;
		width: 25px;
	}
	.compare_column_wrapper .compare_column_item_head_opts {
		background-image: url(../../images_2x/main-sprite.png);
		background-repeat: no-repeat;
		background-size: 800px 400px;
		background-position: -678px -10px;
		padding: 0px;
		height: 25px;
		width: 22px;
	}
	.compare_imgnosymbols {
		background-image: url(../../images_2x/main-sprite.png);
		background-repeat: no-repeat;
		background-size:800px 400px;
		background-position:-263px -128px;
	}	
}

/* 7 inch device */
@media all and (orientation: portrait) {
    .seveninch .compare_top_nav li {
        max-width: 26%;
        float: left;
    }
    .seveninch .compare_top_nav .compare_top_selection {
        margin-top: 10px;
    }
    .seveninch .compare_top_nav li a:link {
        display: table-cell;
        padding: 0px 5px 10px 10px;
        text-align: center;
    }
    .seveninch .compare_top_nav li a.active {
        background-position: center 26px;
    }
}
