@charset "utf-8";
/* CSS Document */

/*scroll bar styles for the ntive optionchain*/

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;*/
    background-color :transparent;
    position :absolute;
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: rgba(0, 0, 0, 0.498039);
	border: 1px solid rgba(255, 255, 255, 0.901961);
	-webkit-background-clip: padding-box;
	box-sizing: border-box;
	width: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	pointer-events: none;
	-webkit-transform: translateZ(0);
}

.options_content tr:nth-child(odd) {
	background-color: #E3EFFC;
}
.options_content tr:nth-child(even) {
	background-color: #ECF5FF;
}
.options_content tr td.noHighlight {
	background-color: #fff;
}
.options_content tr:nth-child(odd) td.highlightRowArrow {
	background-color: #222;
}
.options_content tr:nth-child(even) td.highlightRowArrow {
	background-color: #222;
}
.options_content td.noHighlightArrow {
	background-color: #222;
}
.watchlist_options_content .date_picker .terms div > span {
	padding-right: 5px;
}
.watchlist_options_content .date_picker .terms div > span.bold {
	font-weight: bold;
	color: #000;
}
.watchlist_options_content .date_picker .notes {
	float: right;
	width: 105px;
	margin-top: 8px;
	padding: 0 0 10px 20px;
	color: #808080;
	font-size: 12px;
	white-space: nowrap;
	margin-right: 25px;
}
.watchlist_options_content .button_symbol_option {
	position: absolute;
	top: 14px;
	left: 14px;
}
.options_expanded_model {
	width: 91em;
	height: 70em;
	margin-top: -3.969em;
	margin-left: -45.406em;
	top: 50%;
	left: 50%;
	overflow: hidden;
}

/*.watchlistName_table li input:checked + label, .add_watchlistName_table li label.checked_radio {
	background: url(../images/radio_checked.png) no-repeat 0px 5px;
}
.watchlistName_table li input + label {
	background: url(../images/radio_unchecked.png) no-repeat 0px 5px;
}*/
.right_arrow_options {
	background: url('../images/watchlist/watchlist_selected_arrow.png') no-repeat right center;
}

.left_arrow_options {
	background: url('../images/watchlist/watchlist_selected_arrow_left.png') no-repeat left center;
}
.quotes_content .optionTable_wrapper {
	-webkit-overflow-scrolling: touch;
}
.optionTable_wrapper {
	position: relative;
	z-index: 1;
	width: auto;
	overflow: hidden;
}
.optionTable_wrapper .options_scroller {
	width: 100%;
}
.watchlist_options_content {
	height: 100%;
}
#watchlistOption_click_mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 102%;
	opacity: 0;
	margin: -6px 0 0 -6px;
	z-index: 900;
	height:100%;
	display:none;
}

.quickquote_table_wrapper, .quickquote_watchlist_table {
	position: relative;
	z-index: 1;
	width: auto;
	overflow: scroll;
	height: 82%;
	padding:15px 15px 0 15px;
}
.options_header_calls, .options_header_puts {
	position: absolute;
	margin-top: 5px;
	font-weight: bold;
	font-size: 15px
}
.options_header_calls {
	left: 22%;
	width: 36%;
}
.options_header_puts {
	right: 22%;
}

.monthly_options {
	display: none;
}
.optionswl_setting_radio {
	background-image:url('../images/main-sprite.png');
	background-position: -412px -215px;
	background-repeat:no-repeat;
	margin: -8px 10px 0 -10px;
	height:30px;
	width:30px;
	float:left;
}
.optionswl_setting_radio.active {
	background-position: -443px -215px;
}

#quotes_options_content .date_picker {
	position: relative;
	width: 99.8%;
	height: 65px;
	margin-left: 1px;
	background-color: #e3e1e1;
}
#quotes_options_content .date_picker .terms {
	margin: auto;
	text-align: center;
	width: 240px
}
#quotes_options_content .date_picker .separator {
	float: left;
	width: 8px;
	height: 12px;
	border-right: 1px solid #c2c2c2;
	margin: 8px 1px 0 0;
}

#quotes_options_content .date_picker .quotes_options_expand {
	position: absolute;
	top: 13px;
	right: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#quotes_options_content .date_picker .settings {
	position: absolute;
	top: 7px;
	right: 0px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#quotes_options_expand .toggle_expanded_view {
	margin-right: 7px;
	width: 29px;
	height: 35px;
	float: right;
	background-position: -564px -44px;
	background-image: url(../images/main-sprite.png);
	background-repeat: no-repeat;
}
#quotes_options_expand .active {
  background-image: url(../images/common/fullscreen_collapse.png);
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
#quotes_options_content .options_settings {
	margin-top:-7px;
	margin-right: 7px;
	width: 37px;
	height: 35px;
	float: right;
	background-position: -616px -44px;
	background-image: url(../images/main-sprite.png);
	background-repeat: no-repeat;
}
#quotes_options_content .options_settings :active {
	background-position: -616px -75px;
}

#wlquotescontentholder .date_picker .date_wrapper {
	left: 31%;
}
.seveninch #wlquotescontentholder .date_picker .date_wrapper {
    left: 31.5%;
}

.date_picker .date {
	position: relative;
	overflow: hidden;
	top: -41px;
	border: 1px solid transparent;
}

#quotes_options_content .date_picker .date_display, .terms .optionType {
	float: left;
	width: 127px;
	height: 27px;
	margin-top: 5px;
	color: #808080;
	font-size: 13px;
	border-top: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	background: url(../images/watchlist/options_date_bg.png) repeat-x;
	cursor: pointer;
}
#quotes_options_content .date_picker .date_display.active, .terms .optionType.active {
	color: white;
}
.terms .optionType.active {
	border: 2px solid #a2a1a0;
}

#quotes_options_content .date_picker .date_display p {
	padding-top: 7px;
	text-align: center;
	font-weight: bold;
	color: #242424;
	margin-left:-18px;
}

#quotes_options_content .date_picker .back_arrow {
	float: left;
	background: url(../images/watchlist/options_back_arrow.png) no-repeat 0% 0%;
	width: 27px;
	height: 27px;
	border-top: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
	margin-top: 5px;
	cursor: pointer;
	position: absolute;
}
#quotes_options_content .date_picker .select_dates {
	width: 820px;
	padding-left: 28px;
}
#quotes_options_content .date_picker .forward_arrow {
	float: right;
	right: 0px;
	background: url(../images/watchlist/options_forward_arrow.png) no-repeat 0% 0%;
	width: 27px;
	height: 27px;
	border: 1px solid #c2c2c2;
	margin-top: 5px;
	cursor: pointer;
	position: absolute
}
#quotes_options_content .calls_puts_shadow {
	background: url(../images/watchlist/calls_puts_bg_shadow.png) repeat-x;
	height: 4px;
}
#quotes_options_content table.main {
	width: 100%;
}
#quotes_options_content table.main tr th {
	text-align: left;
	font-size: 11px;
	padding: 35px 0 8px 0;
	background: url(../images/watchlist/options_header_bg.png) repeat-x;
}
#quotes_options_content table.main tr th.strike_price, #watchlist_options_table .strike_price {
	text-align: center;
}	
#quotes_options_content table.main tr th.puts_bid, #watchlist_options_table .puts_bid {
	padding-left: 6px;
}
#quotes_options_content table.main tr td:first-child {
	padding-left: 5px;
}
#quotes_options_content table.main tr.options_table_header th:first-child {
	padding-left: 5px;
}
#quotes_options_content table.main tr {
	height: 40px;
	border-bottom: 1px solid #ebebeb;
}
#quotes_options_content table.main tr.options_table_header {
	color: #808080;
	border-bottom: 1px solid #9e9e9e;
	background-color: #f0f0f0;
}
#quotes_options_content th.strike_color, #quotes_options_content td.strike_color {
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	font-weight:bold;
}
#quotes_options_content td.strike_color {
	background-color: #f6f6f6;
}
#quotes_options_content td.in_money {
	background-color: #e3effc;
	cursor: pointer;
}
.inMoneyBox {
	float: left;
	width: 10px;
	height: 10px;
	background-color: #ECF5FF;
	border: 1px solid #9E9E9E;
	margin-right: 6px;
}
.inMoneyText {
	float: left;
	width: 72px;
}
#watchlist_options_table {
	/*table-layout: fixed;*/
}
#watchlist_options_table td.calls_left_arrow, #watchlist_options_table td.calls_right_arrow  {
	/*background-color: #e9e9e9;*/
	border-bottom: 1px solid #222;
}

#watchlist_options_table td.lastrow{
	border-bottom:none;
}

.calls_left_arrow,.calls_right_arrow{
	width:4%;
}
.calls_open_interest {
	width: 8%;
	padding-left: 3px;
}
.calls_volume {
	width: 7%;
}
.calls_net_change {
	width: 7%;
}
.calls_last {
	width: 7%;
}
.calls_bid {
	width: 8%;
}
.calls_ask {
	width: 5%;
}
.strike_price {
	width: 9%;
}
.puts_bid {
	width: 8%;
}
.puts_ask {
	width: 7%;
}
.puts_last {
	width: 8%;
}
.puts_net_change {
	width: 8%;
}
.puts_volume {
	width: 8%;
}
.puts_open_interest {
	
}
#watchlist_options_table .calls_right_arrow {
	width:4%;
}
#quotes_options_content .date_picker .forward_arrow.blankForwardArrow, #quotes_options_content .date_picker .back_arrow.blankBackwardArrow{
	background :url("../images/options_arrow_background_null.png") no-repeat 0% 0%;
}

.optionChain_leftArrow, .optionChain_rightArrow {
	cursor: pointer;	
}
.optionChain_leftArrow {
	background: url("../images/main-sprite.png") no-repeat -107px -143px;
	width: 13px;
	height: 29px;
	margin-right: 10px;
}
.optionChain_rightArrow {
	background: url("../images/main-sprite.png") no-repeat -96px -143px;
	width: 13px;
	height: 29px;
	margin-right: 10px;
	float: right
}
.optionChain_rightArrow.active{
	background-position :  -37px -143px;
}
.optionChain_leftArrow.active{
	background-position :  -48px -143px;
}
#dummyBottomOptionChain .load_spinner_optionChain{
	vertical-align:top;
}

.oc_loading_spinner{
	width : 30px;
	height: 32px;
	background: url("../images/global/spinner_small_transparent.gif") no-repeat 0% 0%;
	display: none;
	position: absolute;
	right: 0px;
	padding-right: 50px;
	top: -10px;
}

.terms .optionType {
	padding: 5px 5px 5px 10px;
	border: 2px solid #c2c1c0;
	margin: 6px 0px 0 0px;
	display: inline-block;
	width: 100px;
	height: 9px;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	color: #000;
}

.terms .optionType.standardOption {
	border-radius: 10px 0px 0 10px;
}

.terms .optionType.MiniOption {
	border-radius:0px 10px 10px 0px;
}

.quotes_content_area .action_button.loadMoreOptionChain{
	padding: 8px 30px 8px 30px;
	margin: 2px;
	text-transform: uppercase;
}

/*Options chain enchancements */

.options_modal_wide,.options_modal { 
	width:195px;
	font-weight:bold;
	font-size:13px;
}

#wlquotescontentholder .options_modal_wide, #wlquotescontentholder .options_modal { 
	width:165px;
}

.options_date_wide {
	position: relative;
	width: 125px;
}


.options_modal_wide.left_first{
	padding:15px;
	float:left;
}

.options_modal_wide.left_first1{
	padding:15px;
}

.options_modal_wide.option_near {
	float: right;
	right: 7%;
}

#options_date_dropdown {
	top: 44px;
	left: 32px;
}

.dummyoption {
	display:none;
}

.date_dropdown {
	right: 30px;
	top: 45px;
}

.options_modal_wide.spPos {
		right: 18%;
}
select.options_dropdown, select.options_nearthemoney {
	width: 195px;
}

#wlquotescontentholder select.options_dropdown, #wlquotescontentholder select.options_nearthemoney {
	width: 170px;
}

.date_wrapper {
	float: left;
	background: #B1AFAE;
	position: absolute;
	padding-bottom: 21px;
	height: 17px;
	padding-left: 13px;
	padding-right: 13px;
	top: 11px;
	left: 32%;
	width:185px;
	border-radius: 25px;
}

/* 7 inch device */
.seveninch #wlquotescontentholder .calls_open_interest,
.seveninch #wlquotescontentholder .puts_open_interest,
.seveninch .quotes_modal .calls_open_interest,
.seveninch .quotes_modal .puts_open_interest {
    display: none;
}
.seveninch #wlquotescontentholder .calls_volume,
.seveninch .quotes_modal .calls_volume {
    padding-left: 3px;
    width: 8%;
}
.seveninch #quotes_options_content .options_modal_wide,
.seveninch #quotes_options_content .options_modal {
    width: 150px;
}
.seveninch .quotes_modal .calls_net_change,
.seveninch .quotes_modal .calls_bid,
.seveninch .quotes_modal .puts_ask,
.seveninch .quotes_modal .puts_net_change {
	width: 8%;
}
.seveninch .quotes_modal .calls_last {
	width: 6%;
}
.seveninch .quotes_modal .puts_bid,
.seveninch .quotes_modal .puts_last,
.seveninch .quotes_modal .puts_volume {
	width: 9%;
}
.seveninch .quotes_modal .calls_ask {
	width: 6%;
}
.seveninch .quotes_modal .strike_price {
	width: 10%;
}
.seveninch select.options_dropdown, .seveninch select.options_nearthemoney {
	width: 150px;
}

/* Media Styles */

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#quotes_options_content .options_settings{
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	#quotes_options_expand .toggle_expanded_view  {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	#quotes_options_content .options_settings:active{
		background-position:-616px -74px;
	}
	#quotes_options_expand .active {
		background-image: url(../images_2x/common/fullscreen_collapse@2x.png);
		background-size: 23px 23px;
	}	
}


@media all and (orientation: portrait) {
    #quotes_options_content .date_picker  .datePos {
        left: 20%;
    }
    /* 7 inch device */
   .seveninch #quotes_expanded .date_picker .date_wrapper {
       left: 33%;
   }
   .seveninch #quotes_options_content .date_picker .datePos {
        left: 15%;
    }   
    .seveninch #quotes_options_content .date_picker {
        height: 66px;
    }
    .seveninch #wlquotescontentholder .calls_bid {
		width: 6%;
	}
}

@media all and (orientation: landscape) {
	.date_picker .date_wrapper {
		left: 33%;
	}
	
	#quotes_expanded .options_modal_wide.left_first {
		left:12%;
	}
	#quotes_expanded .date_picker .date_wrapper {
		left: 40%;
	}	
	#quotes_expanded .options_modal_wide.option_near {
		right:13%;
	}
	
	#wlquotescontentholder #quotes_options_content .date_picker .datePos {
		left: 15%;
	}
	
	#quotes_expanded #quotes_options_content .date_picker .datePos {
		left: 29%;
	}
	
	#quotes_expanded .options_modal_wide.spPos {
		right: 25%;
	}
	
	#quotes_expanded .date_picker  .datePos {
		left:28%;
	}
	/* 7 inch device */
	.seveninch #wlquotescontentholder .date_picker .date_wrapper {
	    left: 33%;
	}
	.seveninch #quotes_content_area .date_picker .datePos {
	    left: 15%;
	}
	.seveninch #quotes_expanded .calls_bid,
	.seveninch #quotes_expanded .calls_last,
	.seveninch #quotes_expanded .puts_last {
		width: 6%;
	}	
	.seveninch #quotes_expanded .calls_ask {
		width: 4%;
	}
	
}