.quicktransfer_modal {
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	background-color: #fff;
}
.quicktransfer_modal.initalMode, .quicktransfer_modal.previewMode {
	height: 100%;
}
.quicktransfer_wrapper, .qtPreview_wrapper, .qtTransferActivities_wrapper {
	position: absolute;
	top: 82px;
	right: 0;
	bottom: 0;
	left: 0;
}
.quicktransfer_modal .transfer_form p {
	padding-bottom: 0.563em;
	color: #808080;
	font-size: 12px;
}
.quicktransfer_modal .transfer_form .transfer_amount input {
	width: 13.385em;
	height: 1.750em;
	border-radius: 0.938em;
	padding-left: 0.375em;
}
.quicktransfer_modal .transfer_form .transfer_date input {
	width: 8.667em;
	height: 1.75em;
	border-radius: 0.938em;
	padding-left: 0.333em;
}
.leftFloat {
	float: left;
	width: 90%;
	margin: 0em 0.938em 0.938em 1em;
	height: 45px;
}
.quicktransfer_modal .transfer_form .transfer_amount, .quicktransfer_modal .transfer_form .transfer_date {
	margin-top: 0.667em;
	padding-left: 1.333em;
	margin-right: 1.333em;
}
.quicktransfer_modal .transfer_form .right_arrow {
	position: absolute;
	top: 5.467em;
	left: 14.267em;
}
.quicktransfer_modal .transfer_form .submit_image {
	position: relative;
	top: -2.000em;
	left: 11.000em;
	color: #878686;
	cursor: pointer;
}
.quicktransfer_modal .transfer_form .info {
	position: relative;
	top: -2.333em;
	left: 12.000em;
	color: #878686;
}
.quicktransfer_modal .transfer_form .info .qt_add_account {
	font-weight: bold;
	color: #242424;
	cursor: pointer;
}
.quicktransfer_modal .recent {
	position: relative;
	height: 1.7em;
	font-weight: bold;
	font-size: 16px;
	background: url("../images/repeat-x-sprite.png") 0px -80px repeat-x;
	width: 100%;
	padding: 1em 0 0 0.667em;
}
.quicktransfer_modal #transfers_table {
	height: 10.113em;
	overflow: hidden;
}
.quicktransfer_modal footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	height: 3em;
	border-top: 1px solid #acacac;
}
.quicktransfer_modal .recent_transfers_table {
	position: relative;
}
.quicktransfer_modal .table_head tr:first-child {
	height: 2.5em;
	text-align: left;
	border-bottom: 1px solid #b0b0b0;
}
.quicktransfer_modal .table_head tr:first-child th {
	padding: 1em 0 0 1.333em;
	font-size: 12px;
	color: #a2a2a2;
}
.quicktransfer_modal table.recent_transfers_table tr {
	height: 3.667em;
	border-bottom: 1px solid #EBEBEB;
}
.quicktransfer_modal table.recent_transfers_table tr td {
	padding: 0.333em 0 0 1.333em;
	white-space: nowrap;
}
.qtTransferActivities_wrapper .account_click a {
	text-decoration: none;
	color: #023C99;
}
.qt_errorDiv {
	height: 3em;
	background-repeat: no-repeat;
	background-position: 0.667em 0.333em;
	background-color: #ECF5FF;
	padding: 1.333em 0 0 10px;
	font-weight: bold;
	font-size: 1.067em;
}
.msg_div {
	background-image: url("../images/exclamation.png");
	text-indent: 5.333em;
	margin-bottom: 10px;
}
.msg_confirmation_img {
	background-image: url("../images/common/confirmation.png");
	text-indent: 0;
	margin-bottom: 10px;
	background-position-y: 20px;
}
.msg_confirmation_img .msg{
	margin-left: 50px;
}
.msg_div .msg {
	margin-top: 6px;
}
.qtPreview_details {
	height: 100%;
	background-color: #fff;
	overflow: hidden;
}
.qtLeftPanel, .qtRightPanel {
	float: left;
}
/** QT Left Panel **/
.qtLeftPanel {
	width: 65%;
	height: 100%;
	padding-bottom: 20px;
}
.qtLeftPanel .leftFloat select {
	width: 185px;
	padding: 5px;
	cursor: pointer;
}
.qtLeftPanel .leftFloat input {
	width: 185px;
	height: 20px;
	padding-left: 5px;
	border-radius: 20px;
}
.qtLeftPanel .leftFloat input:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(83, 68, 219, 1);
}
.qtLeftPanel .transfer_form {
	padding: 50px 0 10px 0;
}
.qtLeftPanel .qt_inner_left {
	width: 48%;
	display: inline-block;
	float: left;
	border-right: 1px solid #cacaca;
}
.qtLeftPanel .qt_inner_right {
	width: 50%;
	display: inline-block;
	float: right;
}
/** QT Right Panel **/
.qtRightPanel {
	width: 35%;
	height: 100%;
	box-shadow: 2px 0 4px 0 #cacaca inset;
	background-color: #FAFAFA;
}
.qtPreview_details label {
	color: #878686;
	font-size: 13px;
	display: block;
	padding: 0em 0em 1em 0.938em;
}
.qtLeftPanel span, .qtpreview_summ, .qtpreview_msg {
	font-weight: bold;
	padding: 0.667em 5px 5px 0.938em;
}
.qtpreview_summ {
	width: 90%;
	padding-top: 15px;
	font-size: 14px;
	font-weight: normal;
}
.qtpreview_confirm, .qtviewStatus {
	float: right;
	padding: 0.333em;
}
.qtpreview_tax {
	display: none;
}
.table_scoller {
	width: 100%;
	height: 10.113em;
	position: relative;
}
.table_header li {
	display: inline;
	width: 50%;
}
.quicktransfer_modal table.recent_transfers_table tr:nth-child(odd) {
	background: #fff;
}
.quicktransfer_modal table.recent_transfers_table tr:nth-child(even) {
	background: #fafafa;
}
.quicktransfer_modal table.recent_transfers_table tr td a {
	float: left;
}
.quicktransfer_modal table.recent_transfers_table tr td div {
	float: right;
}
.ac_dropdownBG .grey_triangle {
	float: left;
	margin-top: 2.667em;
	margin-left: 2em;
}
.qt_tablewrap {
	position: absolute;
	height: 10.113em;
	width: 100%;
	overflow: hidden;
}
.qt_modal_accounts_select .trade_modal_normal, .qt_modal_accounts_select_to .trade_modal_normal {
	position: relative;
	width: 193px;
}
.quicktransfer_modal table.recent_transfers_table tr.rowbluebg {
	background-image: linear-gradient(bottom, rgb(0,88,156) 52%, rgb(11,102,171) 65%, rgb(24,117,188) 93%);
	background-image: -o-linear-gradient(bottom, rgb(0,88,156) 52%, rgb(11,102,171) 65%, rgb(24,117,188) 93%);
	background-image: -moz-linear-gradient(bottom, rgb(0,88,156) 52%, rgb(11,102,171) 65%, rgb(24,117,188) 93%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,88,156) 52%, rgb(11,102,171) 65%, rgb(24,117,188) 93%);
	background-image: -ms-linear-gradient(bottom, rgb(0,88,156) 52%, rgb(11,102,171) 65%, rgb(24,117,188) 93%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.52, rgb(0,88,156)),
	color-stop(0.65, rgb(11,102,171)),
	color-stop(0.93, rgb(24,117,188))
	);
	color: #fff;
}
.deleterow {
	display: block;
	font-size: 0.667em;
	padding-right: 3.938em;
	background: url("../images/item_delete_transparent.png") no-repeat 0px 0px transparent;
	width: 1.2em;
	height: 2.2em;
	cursor: pointer;
	margin-top: -2px;
}
.seveninch .deleterow {
	padding-right: 2em;
}
.nodeleterow {
	display: none;
}
.delete_transfer {
	display: none;
}
.tax_dropdown {
	width: 9.333em;
	padding-left: 0.938em;
	margin-top: 10px;
}
.no_accounts {
	width: 100%;
	height: 90px;
	text-align: center;
	padding-top: 50px;
	display: none;
}
/************overriding global styles*****************/
.quicktransfer_modal .load_spinner {
	margin-top: 70px;
	vertical-align: middle;
}
.quicktransfer_modal .button_green {
	margin: 0.450em 1.333em 0.938em 1.333em;
	width: 10.8667em;
	height: 2.5em;
}
.quicktransfer_modal .button_green.qtpreview_confirm, .quicktransfer_modal .button_green.qtviewStatus {
	width: 7.8667em;
}
.qt_tablewrap {
	position: relative;
	z-index: 1;
	width: auto;
	overflow: hidden;
	height: 135px;
}
.nobluebg .account_click a {
	color: #003399;
}
.rowbluebg .account_click a {
	color: #FFFFFF;
}

.quicktransfer_modal table.recent_transfers_table tr td a.black_font {
	color: #000;
	cursor: default;
}

#qt_amount.disabled, #datepicker.disabled {
	background-color: #D6D6D6;
}
.qt_preview_button {
	display: inline-block;
	float: right;
}
#new_transfer.qtnewTransfer{
	width: 130px;
}
.qt_button {
	padding: 7px;
	width: 100px;
	float: right;
	margin: 0.450em 1.333em 0.938em 1.333em;
}
/***************Open Account *******************/
.qt_addAccount {
	display: none;
	width: 95%;
	height: 90%;
	top: 5%;
	left: 2%;
	z-index: 5000;
	position: fixed;
	border: 6px solid #121212;
	background: white;
}
.qt_addAccount iframe {
	width: 100%;
	height: 95.8%;
	overflow: scroll;
}

/**********/
#qt_tabs {
	position: absolute;
	width: 100%;
	background-image: url(../../images/repeat-x-sprite.png);
	background-repeat: repeat-x;
	background-color: #E3E1E1;
}

#qt_tabs li {
	width: 14%;
	float: left;
	font-size: 15px;
	text-align: center;
	border-right: 1px solid #D3CBCB;
	font-weight: bold;
	height: 40px;
	cursor: pointer;
}

#qt_tabs li.active {
	color: #FFF;
	background-image: linear-gradient(-180deg, #B1AFAE 0%, #8A8A89 100%);
	background-color: #8A8A89;
	box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.50);
}

#qtpreview_taxYr {
	margin-left: 30%;
	width: 60px;
}
.qt_confirmation_footer {
	display: none;
}

.outerScrollActivityDiv {
	overflow: scroll;
	width: 100%;
	height: 95%;
}
