@charset "utf-8";
/* CSS Document */
/* ==== Begin CSS ============================================= */

/* TODO: remove #quotes (replaced via .quotes) */

.quotes.overlay, 
#quotes.overlay {
  position: absolute;
  bottom: 0px;
  top: 0px;
  width: 100%;
}

.quotes .content_wrapper .content, 
#quotes .content_wrapper .content {
  position: relative;
  /*top: 131px;  just below the .stock_info section */
  bottom: 0px; /* to the bottom of the page */
  height: auto;
  width: 100%;
}

.content_quickquote {
	overflow:hidden;
	padding:0;
}

.quotes .quotes_template_wrapper, 
#quotes .quotes_template_wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
.overlay #quotes_content_area {
  top: 42px; /* allow space for subheader */
}
#quotes_content_area {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  background: url(../images/background.png);
  overflow: hidden;
  z-index: 1;
}
.quotes_extended_modal {
    width: 95%;
}
.quotes_extended_modal .tStockHeader {
    margin-left: 10px;
    cursor: text;
}
.quotes_content_area .trade_info td.large_font, .quotes_content_area .tOptionTrade td.large_font {
  font-size: 22px;
}
.quotes_content_area .content_wrapper {
    margin: 0px;
}
/*#wlright_wrapper .quotes_content_area .content_wrapper {
  margin: 6px 0 0 3px;
}*/
.quotes_content_area .quotes_trade {
    width: 115px;
}


/* START QUOTES NEWS */
.quotes_modal .detail_news_left, 
.quotes_modal .detail_news_right {
    position: absolute;
    top: 0px;
    overflow: scroll;
    bottom: 0px;
    height: auto;
    max-height: none;
    -webkit-overflow-scrolling: touch;
}
.news-article-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  line-height: 25px;
  padding: 0px 17px;
}  
.news-article-info {
	color:#808080;
  padding: 0px 17px;
	font-size:10pt;
}
.news-article-body {
  padding: 17px;
  line-height: 1.175em;
}
.news-article-body p {
  margin-bottom: 15px; 
}
/* END QUOTES NEWS */


.quotes_modal .quotes_input, .quotes_extended_modal .quotes_input {
  position: absolute;
  top: 6px;
  background-image: url(../images/main-sprite.png);
  height: 28px;
  margin-left: -80px;
  padding: 2px 0 0 27px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #BBB;
  border-radius: 30px;
  box-shadow: inset 1px 1px 4px #CCC;
  text-transform: uppercase;
  background-position: -707px -188px;
  background-repeat: no-repeat;
}


.quotes_content_area .menu_nav_item {
    width: 120px;
}
.quotes_content_area .quotes_symbol_buy,  .quotes_content_area .quotes_symbol_sell, .quotes_content_area .quotes_symbol_alert, .quotes_content_area .quotes_symbol_compare, .quotes_content_area .quotes_symbol_watchlist {
    display: none;
}
.quotes_content_area .button_green {
    width: 56px;
}
.quotes_content_area .action_button {
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  white-space: nowrap;
  font-size: 12px;
  text-shadow: none;
  white-space: nowrap;
}
.quotes_content_area .quotes_symbol_watchlist {
    padding: 6px 10px;
}
.quotes_content_area .options_settings_section {
    margin: 0 auto;
    margin-top: 3px;
    overflow: hidden;
}
.quotes_content_area .options_settings_section .cancel_btn, .quotes_content_area .options_settings_section .done_btn {
    width: 92px;
    margin-right: 0;
}
.quotes_content_area .options_settings_section .cancel_btn {
    margin-right: 10px;
}
.quotes_content_area .quotes_symbol_alert {
    padding: 6px 15px;
}
.quotes_content_area .quotes_symbol_compare {
    padding: 6px 10px;
}
.quotes_content_area .desciption_info_nav {
    display: none;
}
.quotes_content_area .tStockTrade, .quotes_content_area .tSymbolDesc, .quotes_content_area .tExtended, .quotes_content_area .tOptionTrade {
    height: 55px;
    padding: 15px 15px 0px 15px;
}
.quotes_content_area .tStockTrade table, .quotes_content_area .tSymbolDesc table, .quotes_content_area .tExtended table, .quotes_content_area .tOptionTrade table {
    width: 100%;
}
.quotes_content_area .tExtended {
    display: none;
}
.quotes_content_area .tStockTrade td, .quotes_content_area .tExtended td, .quotes_content_area .tOptionTrade td {
    font-weight: bold;
}
.quotes_content_area td.divider, .quotes_content_area th.divider {
  padding-left: 20px;
  border-left: 1px solid #E6E6E6;
}


/* OPTION DESCRIPTION AREA BEGIN */


.quotes_content_area .option_descrip {
  display: block;
  width: 100%;
  position: relative;
  background: #FAFAFA;
  height: 140px;
  border-top: 1px solid #E6E6E6;
}
.quotes_content_area .tSymbolDesc .float-wrapper {
  display: block;
  position: relative;
  clear: both;
  height: 28px;
}
.quotes_content_area .description_info .symdescp {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 20px;
}
.quotes_content_area .description_info .timestamp {
  position: relative;
  display: inline-block;
  float: right;
  color: gray;
  font-size: 12px;
  text-align: right;
  right: 1px;
  top: 8px;
}
.quotes_content_area .tSymbolDesc .trans_btn {
  position: relative;
  display: inline-block;
  float: right;
  text-align: right;
}
/*
.quotes_content_area .tSymbolDesc > div {
    float: left;
    width: 46%;
    white-space : nowrap;
}
*/

/* OPTION DESCRIPTION AREA END */


.quotes_content_area .arrow-right {
    right: -20px;
}
.overlay_main_header .submit_quote {
    margin-left: 50%;
    position: absolute;
    text-align: center;
}
.quotes_content_area .tStockTrade_table .quote_change, .quotes_content_area .tOptionTrade_table .quote_change, .quotes_content_area .tMFTrade_table .quote_change, .quotes_content_area .tINDXTrade_table .quote_change {
    margin-right: 3px;
}
.quotes_content_area .content_wrapper .info h2 {
    font-size: 14px;
}
.quotes_content_area .base_info {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #dedcdd) );
  background: -moz-linear-gradient( center top, #f2f2f2 5%, #dedcdd 100% );
  overflow: hidden;
  position: relative;
  min-height: 66px;
}
.quotes_content_area .base_info .info {
  box-sizing: border-box;
  padding: 0px 0px 0px 8px;
  max-width: 33%; 
  display: inline-block;
  float: left;
}
.quotes_content_area .base_info .quotes_nav {
  position: relative;
  box-sizing: border-box;
  top: 19px;
  display: inline-block;
  float: right;
  max-width: 66%;
  padding-right: 10px;
  overflow: hidden;
}
.quotes_content_area .trade_option_expand_collapse {
  position: relative;
}
.quotes_content_area .base_info .quotes_nav::after {
  clear: both;
}
.quotes_content_area .base_info .info h1 {
    position: relative;
    font-size: 17px;
    top: 15px;
    margin: 0 15px 7px 5px;
}
.quotes_content_area .base_info .info h2 {
    position: relative;
    float: left;
    top: 11px;
    margin: 0 0 15px 5px;
    font-size: 12px;
    font-weight: normal;
    color: #808080;
}
.quotes_content_area .base_info .info h3 {
    position: relative;
    width: 330px;
    top: 10px;
    margin: 0 0 10px 15px;
}
.quotes_content_area .tStockHeader {
    float: left;
    /*cursor: pointer;*/
}
.quotes_content_area .base_info .tStockHeaderTimeStamp {
    float: right;
    color: #808080;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 20px;
}
.quotes_content_area .trade_info th, .quotes_content_area .shares_info th, .quotes_content_area .tOptionTrade th {
    color: #999;
    text-align: left;
    font-size: 12px;
    padding-bottom: 5px;
}
.quotes_content_area > .content {
    width: 100%;
}

.quotesOverlay_wrapper {
  position: relative;
  background-color: #fff;
  width: 100%;
  top: 0px;
  bottom: 0px;
  height: 100%;
}
.quotes_overview_content, .quotes_charts_content {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*
.quotes_overview_content .left {
    float: left;
    width: 38%;
    margin-right: 15px;
    padding: 25px 0 0 25px;
}
.quotes_overview_content h1 {
    font-weight: bold;
    margin-bottom: 15px;
}
*/
/*
.quotes_overview_content .chart > h1 {
    float: left;
    cursor: pointer;
}
*/

/* QUOTE DETAILS (left-hand-side) */
#quotes_overview_content .quote {
  position: relative;
}
#quotes_overview_content .left_wrapper {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #FFFFFF;
  width: 52%;
  padding: 25px 25px 0 25px;
  box-sizing: border-box;
}
#quotes_overview_content .left_wrapper h1 {
  font-weight: bold;
  margin-bottom: 15px;
}

/* Quote table */
.quotes_overview_content .quote table {
    width: 100%;
}
.quotes_overview_content .quote table tr:nth-child(2n) {
    background-color: #f9f9f9;
}
.quotes_overview_content .quote table tr.first {
    border-top: 1px solid #ebebeb;
}
.quotes_overview_content .quote table tr {
    border-bottom: 1px solid #ebebeb;
}
.quotes_overview_content .quote table td:nth-child(2){
  font-weight: bold;
}
.quotes_overview_content .quote table td {
    padding: 6px 0;
}
.quotes_overview_content .quote table td .small {
    font-size: 11px;
    padding-right: 5px;
}
.quotes_overview_content .quote table td .grey_color {
    color: #a2a2a2;
}

/* CHART and Analysis Reports (right-hand-side) */
.quotes_overview_content .right_wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background: #FFFFFF;
  display: inline-block;
  width: 50%;
  padding: 25px 0px 0px 25px;
}

.quotes_overview_content .right_wrapper .left_div{	
	float: left;
	width: 305px;
}
.quotes_overview_content .right_wrapper .right_div{
  float: left;
  width: 300px;
  margin-top: 5em;
}
#quotes_overview_content .research_analysis > div {
 /* background: #F8F8F8;*/
	background-image: linear-gradient(62deg, #FFFFFF 0%, #FAFAFA 100%);
}

/*
.quotes_overview_content .right {
    float: right;
    width: 45%;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
*/
#quotes_overview_content .chart h1 {
  display: inline-block;
  font-weight: bold;
}
.quotes_overview_content .chart .right_arrow {
  display: inline-block;  
  background-image: url(../images/main-sprite.png);
  background-position: -10px -119px;
  width: 10px;
  height: 20px;
  margin-top: -7px;
  margin-left: 5px;
  cursor: pointer;
}
.quotes_overview_content .chart img {
    margin-left: 15px;
}
.quotes_overview_content .quotes_chart {
    clear: both;
    min-height: 200px;
}
.quotes_overview_content .quotes_chart_wrapper {
    width: 300px;
	padding-top: 22px;
	position: absolute;
}
.quotes_overview_content .inception {
    margin-top: 80px;
}
.quotes_overview_content .company {
    margin-top: 20px;
}
.quotes_overview_content .company p {
    padding-left: 15px;
}
.quotes_charts_content .type {
    text-align: center;
    position: relative;
    top: 10px;
    left: 250px;
}
.quotes_charts_content .duration {
    width: 100%;
    border-bottom: 1px solid #a7a7a7;
    background-color: #e3e1e1;
    position: relative;
    height: 48px;
    margin: 1px 1px 0 1px;
}
.quotes_charts_content .type div.first, .quotes_charts_content .type div.middle, .quotes_charts_content .type div.last {
    float: left;
    width: 40px;
    padding: 5px 0;
    cursor: pointer;
    font-weight: bold;
}
.quotes_charts_content .type div.first {
    border: 1px solid #797778;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.quotes_charts_content .type div.middle {
    border-top: 1px solid #797778;
    border-bottom: 1px solid #797778;
    border-right: 1px solid #797778;
}
.quotes_charts_content .type div.last {
    border-top: 1px solid #797778;
    border-right: 1px solid #797778;
    border-bottom: 1px solid #797778;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.quotes_charts_content .toggle_expanded_view {
	margin-right: 7px;
	width:37px;
	height:40px;
	float:right;
	background-position: -564px -41px;
	background-image: url(../images/main-sprite.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.quotes_charts_content .toggle_expanded_view.active {
	background-image: url(../images/common/fullscreen_collapse.png);
	background-size: 21px 21px;
	background-repeat: no-repeat;
	background-position: center 11px;
}

.quotes_charts_content .type div.active {
    background: url(../images/dashboard/type_bg.png) repeat-x;
    box-shadow: inset 0 0 1px 1px #9e9e9e;
    cursor: text;
    color: #fff;
}
.quotes_charts_content .quotes_enlarge {
    background: url(../images/watchlist/quotes_enlarge.png) no-repeat;
    width: 25px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 70px;
    cursor: pointer;
}
.quotes_charts_content .quotes_setting {
    background: url(../images/watchlist/quotes_setting.png) no-repeat;
    width: 25px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 25px;
    cursor: pointer;
}
.quotes_content_area .trade_option_toggle {
    float: left;
    width: 26px;
    height: 22px;
    background-image: url("../images/main-sprite.png");
    background-repeat: no-repeat;
    margin: 25px 0 0 10px;
    cursor: pointer;
}

.quotes_content_area .trade_option_arrow_right {
    background-position: -38px -149px;
}
.quotes_content_area .trade_option_arrow_down {
    background-position: -12px -149px;
}
/* .quotes_news_content */
.quotes_news_content .left {
    float: left;
    width: 34%;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    margin-right: 10px;
}
.quotes_news_content .right {
    float: left;
    width: 61%;
    padding: 5px 5px 0 5px;
}
.quotes_news_content .left li {
    display: block;
    height: 95px;
    border-bottom: 1px #fff;
    font-size: 13px;
    cursor: pointer;
}
.quotes_news_content .left li:nth-child(odd) {
    background-color: #f8f8f8;
}
.quotes_news_content .left li:nth-child(even) {
    background-color: #f0f0f0;
}
.quotes_news_content .left li a {
    display: block;
}
.quotes_news_content .left li header {
    padding: 13px 15px 7px 15px;
    font-size: 15px;
    line-height: 22px;
}
.quotes_news_content .left li footer {
    padding-left: 15px;
    line-height: 15px;
    color: #808080;
}
.quotes_news_content .left li.active header {
    color: #fff;
}
.quotes_news_content .left li.active {
    background-color: #323232;
}
.quotes_news_content .right .font_change {
    height: 39px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.quotes_news_content .right header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 25px;
}
.quotes_news_content .right footer {
    margin-bottom: 20px;
    color: #c4c4c4
}
.quotes_news_content .right footer p {
    margin-bottom: 5px;
}
.quotes_news_content .right article {
    margin-right: 15px;
}
.quotes_news_content .right article p {
    line-height: 18px;
    margin-bottom: 20px;
}

/* #quotes_options_content */
.quotes_content_area .options_settings_modal header {
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 9px 0 9px 0;
    height: 25px;
}
.options_settings_input {
    display: none;
}
.options_settings_input + label {
    float: left;
    background: url(../images/main-sprite.png) no-repeat;
    background-position: -386px -126px;
    width: 30px;
    height: 30px;
    margin: 15px 10px 15px 15px;
    cursor: pointer;
}
.options_settings_input + label {
    margin: -8px 10px 0 -10px;
}
.options_settings_input:checked + label {
    background: url(../images/main-sprite.png) no-repeat;
    background-position: -427px -126px;
    width: 30px;
    height: 30px;
}
.addWatchList_overlay.modal_box .quotes_add_watchlist_table_scroller ul li label, .addWatchlistOptions_input_radio.unchecked_radio  {
   // background: url(../images/radio_unchecked.png) no-repeat 0px 5px;
}
.addWatchList_overlay.modal_box .quotes_add_watchlist_table_scroller ul li label.checked_radio, .addWatchlistOptions_input_radio.checked_radio {
    //background: url(../images/radio_checked.png) no-repeat 0px 5px;
}

.quotes_content_area .quick_quote_modal {
    display: none;
  width: 90%;
  height: 373px;
  margin-left: 4.5%;
  margin-right: 5%;
  margin-bottom: 70px;
  bottom : 0px;
}
.watchlist_options_content .quick_quote_arrow {
    display: none;
    z-index: 1000;
}
.quotes_content_area .quick_quote_modal > .content_quickquote {
    margin: 7px 6px 0 6px;
    height: 360px;
    padding: 0;
    background-color: #fff;
}
.quotes_content_area .quick_quote_modal > .content_quickquote .header {
    background-color: #000;
    color: #fff;
    height: 50px;
    border-bottom: 1px solid #9e9e9e;
    padding-right: 10px;
    text-align: right;
}
.quotes_content_area .quotes_symbol_option {
    position: absolute;
    top: 10px;
    left: 10px;  
    font-size: 10px;
    font-weight: bold;
    width: 238px;
    height: 36px;
    padding: 3px 0 9px 0;
    text-align: center;
}
.quotes_content_area .quick_quote_modal .quotes_symbol_option{
  text-align: left;
}
.quotes_content_area .quotes_symbol_option > .date {
    margin-bottom: 2px;
}
.quotes_content_area .quick_quote_modal > .content_quickquote h1 {
    font-weight: bold;
    font-size: 15px;
     margin-bottom: 4px;
     white-space : nowrap;
}
.quotes_content_area .quick_quote_modal > .content_quickquote .time_stamp {
    font-size: 11px;
    padding-top: 2px;
    color: #808080;
}
.quotes_content .watchlist_btn {
    width: 84px;
    height: 13px;
    margin: 7px 0 0 7px;
    padding: 8px 8px;
}
.quick_quote_modal table {
    float: left;
    width: 48%;
}
.quick_quote_modal table td {
    padding: 5px 0;
    font-size: 13px;
    width: 14.5%;
    padding-bottom: 10px;
}
.quick_quote_modal table tr:nth-child(odd) , .quick_quote_modal tr:nth-child(even) {
    background: none;
}
.quick_quote_modal table tr:nth-child(5) td {
    padding-bottom: 10px;
    border-bottom: 1px solid #ebeaea;
}
.quick_quote_modal table tr:nth-child(6) td, .quick_quote_modal table tr:nth-child(11) td {
    padding-top: 15px;
}
.quick_quote_modal table td.title {
    color: #a1a1a1;
    width: 50%;
    font-size: 12px;
}
.quick_quote_modal table td.info {
    text-align: right;
}
.quick_quote_modal table td.last {
    padding-bottom: 12px;
}

.quick_quote_modal .quickQuote_rightPanel {
  float: right;
  width: 47%;
  padding-left: 10px;
}
.quick_quote_modal .quickQuote_chartTable {
  width: 100%;
  margin-top: 5px;
}
.quick_quote_modal .quickQuote_chartTable td {
  padding-bottom: 7px;
}
.quick_quote_modal #quickQuote_chart {
  width: 100%;
  height: 185px;
}
.quotes_content_area .options_settings_modal {
    display: none;
    width: 230px;
    height: 175px;
    top: 0px;
    right: 47px;
    padding-left: 5px;
    padding-right: 5px;
}
.quotes_options_content .arrow {
    top: 109px;
    right: -10px;
}
.quick_quote_modal .quote_btn_section > .quotes_btn {
    float: left;
    width: 90px;
    margin: 7px 0 0 8px;
    padding: 7px 5px;
}
.quotes_content_area .options_settings_modal > .content {
    height: 84px;
}
.quotes_content_area .quick_quote_modal .cancel_btn, .quotes_content_area .quick_quote_modal .done_btn {
    margin-top: 5px;
}
.quotes_content_area .quick_quote_modal .header .watch, .quotes_content_area .quick_quote_modal .quotes_table, .quotes_content_area .quick_quote_modal .quotes_btn_section {
    display: none;
}
.quick_quote_modal .button_green {
    float: left;
    width: 42px;
    margin: 8px 6px 0 7px;
}
.quick_quote_modal .sell_btn {
    margin-right: 5px;
}
#quotes_options_expand_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 665px;
    margin: 0;
    font-size: 13px;
    font-family: sans-serif;
    z-index: 1000;
    border: 6px solid #121212;
    background-color: #fff;
}
#quotes_options_expand_modal .quotes_content_area {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: none;
    overflow: hidden;
}
.quotes .content_wrapper, 
#quotes .content_wrapper {
  margin: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
.quotes_content_area .add2_watchlist_quotes_header {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 5px 0px 10px 0px;
}
.addWatchList_overlay.modal_box {
    display: none;
    position: absolute;
    top: 2%;
    right: 12%;
    width: 250px;
    height: 390px;
}
.addWatchList_overlay .add_cancel_btn, .addWatchList_overlay .add_done_btn {
    margin: 0;
    width: 92px;
}
.addWatchList_overlay .add_cancel_btn {
    margin-right: 10px;
}
.add_watchlistName_table {
    width: 95%;
    margin: auto;
}
.add_watchlist_btn_section {
    margin: 0 auto;
    margin-top: 10px;
    width: 230px;
    overflow: hidden;
}
.addWatchList_overlay.modal_box .header {
    height: 30px;
    color: white;
    padding: 10px 0 0 5px;
}
.add_watchlist_click_mask, .quotes_header_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    opacity: 0;
    margin: -6px 0 0 -6px;
    z-index: 900;
}
.quotes_header_mask {
    display: none;
    height: 50px;
    opacity: 0;
}
/*.settings_refresh*/
.quotes_refresh_btn {
    height: 18px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.quotes_refresh_btn_inner {
    height: 30px;
    width: 25px;
    background-position: -486px -48px;
    background-image: url(../images/main-sprite.png);
    background-repeat: no-repeat;
}
/* TODO: REMOVE THE MARKUP, use ng-hide if needed, but remove the markup otherwise */
.refreshBtnExpanded.quotes_refresh_btn{
   margin-top: -10px;
   display:none;
}
.quotes_refresh_btn_inner:active {
    background-position: -486px -81px;
}

.quotes_add_watchlist_table_scroller {
    position: relative;
    z-index: 1;
    width: 232px;
    height: 281px;
    overflow: scroll;
    background-color: white;
  border: 10px solid black;
}
/*
.quotesOverlay_wrapper.overview_tab {
    background-image: linear-gradient(left , #fff 50%, #f8f8f8 50%);
    background-image: -o-linear-gradient(left , #fff 50%, #f8f8f8 50%);
    background-image: -moz-linear-gradient(left , #fff 50%, #f8f8f8 50%);
    background-image: -webkit-linear-gradient(left , #fff 50%, #f8f8f8 50%);
    background-image: -ms-linear-gradient(left , #fff 50%, #f8f8f8 50%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.50, #fff), color-stop(0.50, #f8f8f8));
}
*/
.watchlist_right_nav .quotesOverlay_wrapper {
  position: absolute;
  bottom: 0;
}
.quotesOverlay_wrapper .chart_exterior {
    border: 1px solid #C4C4C4;
}
.quotesOverlay_wrapper .chart_period_cell {
    border-bottom: none;
}
.exthrsHeading {
    background: #A3A3A3;
    height: 20px;
    padding: 5px 0 2px 18px;
    color: white;
}
.MFProspectus {
    font-weight: bold;
    margin-top: 50px;
}
.research_analysisList h1 {
    margin-bottom: 20px;
    font-weight: bold;
	font-size: 14px;
}
.research_analysisList h1 a {
    color: #4d4d4d;
}
.research_analysisList h2 {
    font-size: 12px;
    color: #a5a5a5;
}
#research_login{
	padding: 46px 0px 70px 55px;
}

#research_analysis_login
{ 
	width: 158px;
	height: 28px;
	border-radius: 10px;
	line-height: 28px;
	font-size: 14px;
}
.quotes_overview_content ul.research_analysisList li h1 {
    margin-bottom: 6px;
}
.research_analysis > h1 {
  font-weight: bold;
  margin-bottom: 22px;
}
.research_analysis .load_css_default {
  margin-top: 25px;
  margin-left: 0;
}
.quotes_Prospectus {
    display: none;
    width: 95%;
    height: 90%;
    top: 5%;
    left: 2%;
    z-index: 5000;
    position: absolute;
    border: 6px solid #121212;
    background: white;
}
.quick_quote_modal #cloneTableWrapper {
    position: absolute;
    width: 405px;
}
.cloneTableQuickQuotes {
    position: relative;
    background: #fff;
    height: 40px;
    width: 100%;
}
.trade_info table {
    margin-bottom: 40px;
}

.quotes_analystReports {
    width: 80%;
    margin-bottom: 18px;
}
.quotes_reportsimg {
    width: 30px;
    height: 30px;
    background: url('../images/icon_paperclip.png') no-repeat;
    float: left;
    margin-right: 5px;
}
.quotes_reportsimg:active {
    background: url('../images/icon_paperclip_pressed.png') no-repeat;
}

.quotes_content_area .trade_option_arrow_down {
    background-position: -12px -217px;
}
.quotes_content_area .trade_option_arrow_right {
    background-position: -35px -219px;
}
.watchlist_btn_section {
    display: none;
  margin: 0 auto;
  margin-top: 4px;
  width: 230px;
  overflow: hidden;
  float:right;    
}
.watchlist_btn_section .action_button {
  margin: 0;
}
.watchlist_btn_section .cancel_btn {
  margin-right: 10px;
}

.quote_btn_section{
  float:right;
}

.quotes_extended_modal .quotes_content_area .quick_quote_modal{
  width: 60%;
  min-width: 520px;
}

.quotes_extended_modal .chart_small_loading.medium{
  margin-top: 350px;
}

/* 7 inch device */
.seveninch .quotes_overview_content .quotes_chart_wrapper {
    width: 232px;
}
.seveninch .quotes_overview_content .right {
    padding-right: 25px;
}

/* Media Styles */

/* This is to control the right nav width based on the landscape/portrait mode */
@media all and (orientation: landscape) {
    .quotes_options_content table.main tr td {
        font-size: 13px;
    }
    .quotes .quote-wrapper table, 
    #quotes .quote-wrapper table {
      font-size: 14px;
    }
    .quotes_overview_content .left table {
        font-size: 14px;
    }
    
  .quotes_extended_modal .quotes_content_area .quick_quote_modal{
    margin: 20%;
  }
}

@media all and (orientation: portrait) {
    .quotes_options_content table.main tr td {
        font-size: 12px;
    }
    .quotes .quote-wrapper table, 
    #quotes .quote-wrapper table {
      font-size: 13px;
    }
    /*
    .quotes_overview_content .left table {
        font-size: 13px;
    }
    */
    .quotes_extended_modal .quotes_content_area .quick_quote_modal{
      margin:15%;
    }
    
    /* 7 inch device */
    .seveninch #wlquotescontentholder .base_info > .info {
        max-width: 25%;
    }
    .seveninch #wlquotescontentholder .base_info > .quotes_nav {
        max-width: 75%;
    }
}

/* ==|== Device Width ========================================================= */

@media screen and (min-width: 801px) {
  .quotes_content_area .trade_info td.large_font, .quotes_content_area .tOptionTrade td.large_font {
    font-size: 27px;
  }
  .quotes_content_area .trade_info .small_font, .quotes_content_area .tOptionTrade .small_font {
    font-size: 15px;
    font-weight: normal;
  }   
  #quotes_overview_content .left_wrapper {	
    width: 35%;
  }
	.quotes_overview_content .right_wrapper {	
		width: 65%;
    padding-right: 0;
	}
	.quotes_overview_content .right_wrapper .left_div {	
		width: 305px;
    margin: 0px 1.0em 0px 0px;
	}
	.quotes_overview_content .right_wrapper .right_div {	
		width: 300px;
	}

}

@media screen and (max-width: 919px) {
	#watchlist .quotes_overview_content .right_wrapper .right_div {	
    margin-top: 5em;
    float: left;
  }
	.quotes_overview_content .right_wrapper .right_div {	
    float: left;
		width: 300px;
    margin-top: 5em;
	}
}


@media screen and (max-width: 800px) {
  .quotes_content_area .trade_info .small_font, 
  .quotes_content_area .tOptionTrade .small_font 
  {
    font-size: 13px;
    font-weight: normal;
  }
}

@media screen and (min-width: 920px) {
	.quotes_overview_content .right_wrapper .right_div {	
    margin-top: 0px;
    float: right;
		width: 250px;
	}
}

@media all and (orientation: landscape) and (min-width: 950px) {	
	#quotes_overview_content .left_wrapper {	
		width: 35%;
	}
	.quotes_overview_content .right_wrapper {	
		width: 65%;
	}
	.quotes_overview_content .right_wrapper .right_div {	
		width: 268px;
	}
}

@media screen and (min-width: 1024px) {	
	.quotes_overview_content .right_wrapper .right_div {	
		width: 300px;
	}
	#watchlist .quotes_overview_content .right_wrapper .right_div {	
    margin-top: 5em;
    float: left;
  }
}

@media screen and (min-width: 1280px) {	
	.quotes_overview_content .right_wrapper .right_div {	
		width: 400px;
    margin-right: 50px;
	}
	#watchlist .quotes_overview_content .right_wrapper .right_div {	
    margin-top: 5em;
    float: left;
  }
}


@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .quotes_modal .quotes_input, .quotes_extended_modal .quotes_input {
    background-image: url('../images_2x/main-sprite.png');
    background-size:800px 400px;
  }

  .quotes_charts_content .toggle_expanded_view.active {
    background-image: url(../images_2x/common/fullscreen_collapse@2x.png);
  }
  .quotes_content_area .trade_option_toggle {
    background-image: url(../images_2x/main-sprite.png);
    background-size:800px 400px;
  }
  .quotes_charts_content .toggle_expanded_view {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
  .quotes_refresh_btn_inner {
    background-image: url(../images_2x/main-sprite.png);
    background-size:800px 400px;
  }
  .quotes_refresh_btn_inner:active {
      background-position: -486px -78px;
  }
  .quotes_reportsimg {
    background-image: url(../images_2x/main-sprite.png);
    background-size:800px 400px;
    background-repeat:no-repeat;
    background-position: -429px -254px;
  }
  .quotes_reportsimg:active {
    background-image: url(../images_2x/main-sprite.png);
    background-size:800px 400px;
    background-repeat:no-repeat;
    background-position: -429px -283px;
  }
}
