#trading .headerLayout{
	background-image: url("../images/repeat-x-sprite.png") ;
    background-position: 0 -78px;
    height: 44px;
    position: relative;
    width: 100%;
}
#trading .headerLayout .backButton{
	background-image: url("../images/main-sprite.png");
	background-repeat: no-repeat;
	background-position: -512px -261px;
	cursor: pointer;
	float: left;
    height: 33px;
    margin-left: 12px;
    position: relative;
    top: 6px;
    width: 75px;
}
/*
#trading .headerLayout .backButton:active{
	background-position: -512px -295px;
}*/

#trading .headerLayout .pageTitle{
	color: #000;
    float: left;
    font-family: ETFAvenirHeavy;
    font-size: 20px;
    font-weight: normal;
    padding: 11px 0 0 12px;
    text-align: left;
}
#trading .headerLayout .refreshSection{
    float: right;
    padding-top: 10px;
    position: relative;
    right: 12px;
}
#trading .headerLayout .refreshSection .refresh_txt {
    color: #808080;
    float: left;
    font-size: 12px;
    padding: 7px 10px 0 0;
}
#trading .headerLayout .refreshSection .refresh_btn {
	background-image: url("../images/main-sprite.png");
    background-position: -485px -49px;
    cursor: pointer;
    float: right;
    height: 30px;
    width: 32px;
}
#trading .tabsLayout {
	height: 40px;
    position: relative
    width: 100%;
    background:#E6E6E6;
    font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 14px;
	color: #252525;
}
#trading .tabsLayout .tabsList {
    height: 40px;
    list-style: none outside none;
    margin: 0;
}
#trading .tabsLayout .tabsList li {
	background-image: none;
    border-right: 1px solid #D9D9D9;
    cursor: pointer;
    display: table;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 14px;
    padding: 0 15px;
    text-align: center;
    /* Alternate way to vertical align text 
   	line-height: 38px; */
}
#trading .tabsLayout .tabsList li.active {
    background-image: linear-gradient(-180deg, #B1AFAE 0%, #8A8A89 100%);
    background-color: #8A8A89;
	box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.50);
	height: 41px;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	color: #FFFFFF;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.20);
}
#trading .tabsLayout .tabsList .tabsText {
	display: table-cell;
	max-width: 85px;
    min-width: 65px;
  	vertical-align: middle;
  	/* Alternate way to vertical align text 
   	display: inline-block;
  	line-height: normal;      */
}

/* Overridden the overlay main header style */
#trading .overlay_main_header {
	height: 84px;
	line-height: normal;
	border-bottom: 1px solid #c0c0c0;
}

.allornonetext { 
	color: #242424;
	padding-left:45px;
	width:225px;
	line-height:34px;
	font-weight:bold;
}
#trading input {
	height:25px;
	border-radius:15px;
	border:1px solid #bbb;
	padding-left:10px;
	font-size:9pt;
	font-weight: normal;
	box-shadow:inset 1px 1px 4px #ccc;
}
#trading input.searchsmall {
	padding-left:30px;
  	background-position: -707px -190px;
  	background-image: url(../images/main-sprite.png);
 	background-repeat: no-repeat;
	width:60px;
}	
#trading input.search {
	padding-left:30px;
  	background-position: -707px -190px;
  	background-image: url(../images/main-sprite.png);
 	background-repeat: no-repeat;
	width:262px;
}


/*============Trade Caluculator ==========*/
.trading_calc_button {
	font-weight:bold;
	text-align:center;
	width:99px;
	padding:7px 1px;
	margin:6px;
	border-radius:5px;
	cursor:pointer;
}
.trading_calc_button.left {
	float:left;
	left:6px;
}
.trading_calc_button.right {
	float:right;
	right:6px;
}
.trading_calc_button.footer {
		padding-left:14px;
		padding-right:14px;
}
.trading_calc_input {
	margin-left:13px;
	width:110px;
	color:black;
	font-weight:bold;
	float:left;
}
.trading_calc_preview {
	background-color: #fafafa;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #e5e5e5;
	max-height:48px;
	margin:10px 6px 6px 6px;
	text-align:center;
}
.trading_calc_preview_number {
	font-size:26px;
	border-top:1px solid #fff;
	padding-top:6px;
	font-weight:bold;
}
.trading_calc_preview_desc {
	border-bottom:1px solid #d3d3d3;
	font-size:11px;
	padding-bottom:5px;
}
.trading_calc_dollar {
	margin-left:10px;	
	width:24px;
	height:26px;
	float:left;	
	font-weight:bold;
  	background-position: -682px -49px;
  	background-image: url(../images/main-sprite.png);
 	background-repeat: no-repeat;
}

.trading_calc_dollar.pos {
  	background-position: -707px -49px;
}
.trading_calc_dollar.pos:active {
  	background-position: -707px -80px;
}
.trading_calc_dollar.neg {
  	background-position: -682px -49px;
}
.trading_calc_dollar.neg:active {
  	background-position: -682px -80px;
}
.trading_calc_header {
	font-size:18px;
	color:white;
	font-family:ETFAvenirHeavy;
	font-weight:bold;
	padding:10px 0px 0px 13px;
	line-height:20px;
}
.trading_calc_title {
	font-size:11px;
	color:gray;
	padding:14px 0px 9px 13px;
}
.trading_calc_row {
	height:29px;
}
.trading_calc_inner {
	padding-top:2px;
	margin:6px 6px 0px 6px;
	background:white;
}
.trading_calc_footer {
	padding:5px 16px 7px 16px;
	font-size:11px;
	color:gray;
	line-height:1.2;
}
.trading_bg_calc {
	position:absolute;
	height:100%;
	width:100%;
	top: 0;
	z-index:10000;
	display:none;
}
.trading_calc {
	z-index:10001;
	display:none;
	width:230px;
	background:#101010;
	position:absolute;
	margin-left:5px;
	left:50%;
	border:#4f4f4f;
	border-radius:5px;
}
.trading_calc:before {
	left:-11px;
	top:99px;
	position:absolute;
	content: ' ';
	border-top:11px solid transparent;
	border-bottom:11px solid transparent;
	border-right:11px solid #4f4f4f;
}
.trading_calc:after{
	left:-10px;
	top:100px;
	content: ' ';
	position:absolute;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid #101010;
}
/*========== HEADER CSS =============== */

.trade_modal_close {
	width:42px;
	height:41px;
	cursor:pointer;
}
.trade_modal_close_inner {
	margin-left:6px;
	margin-top:8px;
	height:30px;
	width:30px;
  	background-position: -512px -50px;
  	background-image: url(../images/main-sprite.png);
 	background-repeat: no-repeat;
}

.trade_modal_close_inner:active {
  	background-position: -512px -81px;
}
.trade_modal_order_num {
  min-width:18px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 13px;
  margin-top: 9px;
}	
.trade_modal_header_orders {
	text-transform:uppercase;
	width:105px;
	cursor:pointer;	
}
.trade_modal_header_options {
	text-transform:uppercase;
	width:85px;
	cursor:pointer;	
}	
.trade_modal_header_stock {
	text-transform:uppercase;
	width: 70px;
	cursor:pointer;	
}

/*========= ACCOUNTS SELECT =======*/
.trading_acct_info {
	margin: 10px 5px 0 13px;
	float: left;
	width: 300px;
}
#trade_acct_stock, #trade_acct_options {
	/*padding-left: 285px;*/
}
.trade_modal_accounts_select {
	float:left;
	margin-left:13px;
	margin-top:12px;
	margin-right:13px;
}
.trade_modal_accounts_row {
	height:22px;
	font-size:12px ;
}
.trade_modal_accounts_row.hidden {
	display:none;
}
.trade_modal_accounts_optrow {
	height:20px;
	font-size:12px;
}
.trade_modal_accounts_item {
	color:#878686;
	float: left;
	width: 50%;
}
.trade_modal_accounts_amount {
	float: right;
	font-size: 15px;
	font-weight: bold;
	text-align: right;
}
/* =========== STOCK ORDERS ==========*/
#trade_modal_stock {
	bottom: 46px;
	position: absolute;
	top: 85px;
	width: 100%;
}
#trade_modal_stock_edit {
	bottom: 46px;
	position: absolute;
	top: 85px;
	width: 100%;
}
#trade_type_stock {
	height:231px;
	width: 345px;
}
.trading_order_row {
	height:34px;
	padding-top:12px;
}
.trading_order_row:first-child {
	padding-top: 17px;
}	
.stock_order {
	height:40px;
}	
.stock_margin_left {
	margin-left:12px;
	display:none;
}
.trade_calc {
	/*
	margin-top:-10px;
		padding-top:10px;
		display:inline;
		height:40px;
		width:20px;
		float:right;
		padding-right:10px;*/
	
	
	margin-top: -10px;
	padding-top: 10px;
	height: 40px;
	width: 30px;
	float: left;
	padding-left: 5px;

}
.trade_calc_inner {
  width:30px;
  height:30px;
  background-position: -540px -49px;
  background-image: url(../images/main-sprite.png);
  background-repeat: no-repeat;
}

.trade_calc_inner:active {
  background-position: -540px -80px;
}
.trading_selector.trade_type {
	display:inline;
}
.trading_input {
	margin-left:20px;
	width:80px;
}
.trading_input_line {
	width:90px;
	margin-left:13px;
}
#trade_stock_shares {
	float: left;
}

/*======STOCK PREVIEW =====*/
.tstock_preview_top {
}
.tstock_preview_top.blue {
	padding: 17px 0 5px 12px;
	/*
	line-height:46px;
		background:#ecf5fe;
		border:1px solid white;*/
	
}
.tstock_preview_name {
	font-weight:bold;
	/*white-space : nowrap;*/
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial;
	font-size:24px;
	color: #242424;
}
.tstock_preview_symbol {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size:14px;
	color: #242424;
	padding-top: 2px;
}
/*=======OPTIONS PREVIEW =========*/
.toptions_preview_top {
}
.toptions_preview_toptwo {
	width:320px;
	padding-top:1px;
	color:gray;
	padding-left:4px;
}
.toptions_preview_symbol {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size:14px;
	color: #242424;
	padding-top: 2px;
}
.toptions_preview_name {
	font-weight:bold;
	white-space : nowrap;
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial;
	font-size:24px;
	color: #242424;
}
.toptions_preview_table {
	height: 38px;
	padding-top: 22px;
	width: 100%;
}

/* ===== PREVIEW UNIVERSAL ========*/
.t_preview_bidsell {
	width:320px;
	height:15px;
	padding:8px 0 0;
}
.t_preview_bstitle {
	font-size:12px;
	color:#808080;
	float:left;
}
.t_preview_confirm {
	font-size:13px;
	color:gray;
}
.t_preview_bsitem{
	float:right;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size:15px;
	font-weight: bold;
	color: #252525;
}

.t_preview_table {
	height: 38px;
	padding-top: 20px;
	width: 100%;
}
.t_preview_th { 
	display:inline;
	float:left;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size:12px;
	color: #808080;
	padding-bottom: 4px;
}
.t_preview_th[class~=t_last_trade], .t_preview_td[class~=t_last_trade] {
	width: 28%;
}
.t_preview_th[class~=t_change], .t_preview_td[class~=t_change] {
	width: 40%;
}
.t_preview_th[class~=t_volume], .t_preview_td[class~=t_volume] {
	width: 32%;
}
.t_preview_th[class~=t_bid_size], .t_preview_td[class~=t_bid_size],
.t_preview_th[class~=t_ask_size], .t_preview_td[class~=t_ask_size],
.t_preview_th[class~=t_availability], .t_preview_td[class~=t_availability],
.t_preview_th[class~=t_initial_invst], .t_preview_td[class~=t_initial_invst] {
	width: 50%;
}
.t_preview_td {
	display:inline;
	float:left;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size:18px;
	font-weight:bold;
}
.t_preview_gl {
	font-size:12pt;
	display:inline;
	width:29%;
	padding-left:37%;
	float:left;
}
.t_preview_bidsell.bottom {
	padding-bottom: 10px;
}
.t_preview_container {
	border-top:1px solid #E6E6E6;
	margin: 0 8px 0 12px;
}
.t_preview_confirm_container {
	border-top: 1px solid #e6e6e6;
	margin: 5px 5px 0 10px;
	padding-top: 10px;
}
.t_preview_confirm_tick {
	background: url("../images/trading_esp/confirmation.png") no-repeat;
	width: 24px;
	height: 21px;
	float: left;
	padding-right: 5px;
}

/*=============OPTIONS ORDERS ================*/
#trade_modal_options {
	bottom: 46px;
	position: absolute;
	top: 85px;
	width: 100%;
}
#trade_modal_options_edit {
	bottom: 46px;
	position: absolute;
	top: 85px;
	width: 100%;
}
.trade_options_allornone_spacer {
	height:45px;
}
.options_order_first {
	height:45px;
	padding-top:11px;
}
.options_margin_left {
	margin-left:12px;
}
.trade_options_add {
	display:inline;
}
.trade_options_add input { 
	width:100px;
}
.options_input {
	margin-left:20px;
}

.trade_modal_inner {
	display:table;
	height: 100%;
	width: 100%;
}	
.trade_modal_inner_left {
	display:table-cell;
}
.trade_modal_inner_right {
	background: #fafafa;
	bottom: 0;
	box-shadow: 2px 3px 4px 0 #eee inset;
	display: table-cell;
	position: absolute;
	top: 0;
}
#trade_options_shares {
	float: left;
}
#trade_preview_options {
	/*margin: 17px 5px 0 12px;*/	
}
/*==================== ESP =======================*/
#trade_modal_esp {
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 85px;
	width: 100%;
}
#trade_modal_esp .trade_esp_content {
	bottom: 46px;
	overflow-x: hidden;
	overflow-y:auto;
	position: absolute; 
	top:0px;
	width: 100%;
}
#trade_modal_esp .trade_modal_inner {
	position: absolute; 
	display:table;
	width: 100%;
	height: 100%;
}	
#esp_trade_modal_div_container{
	display:table;
	width: 100%;
}
#trade_modal_esp .trade_modal_inner_left{
	display:table-cell;
	border: 0;
	vertical-align: top;
}
#trade_modal_esp .trade_modal_inner_right {
	border-right:1px solid #E6E6E6;
	border-top:1px solid #E6E6E6;
	background: url("../images/trading_esp/bg_left.png") repeat-y;
	box-shadow: 2px 3px 4px 0 #eee inset;
	bottom: 0px;
	display:table-cell;
	position: absolute;
	vertical-align: top;
}
.esp_page_header {
	border-bottom: 2px solid #e6e6e6;
	margin: 0 15px 0px;
    padding: 7px 0 5px;
}
.esp_page_header .esp_page_title {
	float: left;
    font-size: 18px;
    font-weight: bold;
    padding-top:10px;
}
.esp_page_header .esp_page_title .title_text{
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 18px;
	color: #242424;
}
.esp_page_header .esp_page_title .step_text{
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 18px;
	color: #808080;
}
.esp_page_header .esp_page_number {
	float: right;
}
.esp_page_header .page_num_1 {
	background: url("../images/trading_esp/esp_step_1_of_4.png") no-repeat ;	
	width:140px;
	height:35px;
}

.esp_page_header .page_num_2 {
	background: url("../images/trading_esp/esp_step_2_of_4.png") no-repeat ;
	width:140px;
	height:35px;
}
.esp_page_header .page_num_3 {
	background: url("../images/trading_esp/esp_step_3_of_4.png") no-repeat ;	
	width:140px;
	height:35px;
}
.esp_page_header .page_num_4 {
	background: url("../images/trading_esp/esp_step_4_of_4.png") no-repeat ;
	width:140px;
	height:35px;	
}

.esp_page_header .page_num_for3steps_1
{
	background: url("../images/trading_esp/esp_step_1_of_3.png") no-repeat ;	
	width:110px;
	height:35px;
}
.esp_page_header .page_num_for3steps_2
{
	background: url("../images/trading_esp/esp_step_2_of_3.png") no-repeat ;	
	width:110px;
	height:35px;
}
.esp_page_header .page_num_for3steps_3
{
	background: url("../images/trading_esp/esp_step_3_of_3.png") no-repeat ;	
	width:110px;
	height:35px;	
}
.dropwrap_left {
	display:inline-block;
	float:left;
}

.dropwrap_right {
	display: inline-block;
}
.dropwrap_left .trade_modal_accounts_select:first-child {
	margin-top: 0;
}
#selection_div {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	color: #A7A7A7;
}
#selection_div .selction_div_header {
	margin: 6px 15px 12px;
}
.esp_limit_input{
	position:relative;
	top:8px;
}

.esp_gtd_input {
	position: relative;
	top:8px;
	display:inline-block;
	float:left;
}
.market_wrap{
	float:left;
}
.term_wrap{
	float:left;
}

.trade_modal_accts {
	float: left;
	padding-top: 5px;
	width: 320px;
}
#trading_overlay[class~=orders] .trading_acct_info {
	float: right;
}
.trading_selector_bg{
  	background-position: -220px -250px;
  	background-image: url(../images/main-sprite.png);
 	background-repeat: no-repeat;
	width:175px;
	height:30px;
	position:absolute;
	margin-left:13px;
	line-height:30px;
	padding-left:8px;
}

.trading_selector{
	background-color: white;
	border: solid 1px #c2c2c2;
	font-family: "Helvetica Neue", Helvetica, Arial;
	color:#777;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	width: 177px;
}
#trade_preview_stock {
	margin: 17px 5px 0 12px;
}
#trade_modal_esp #trade_preview_stock {
	height: 160px;
	margin-top: 12px;
	min-width: 335px;
}
#grants_div {
	margin: 24px 15px 0;
	position: relative;
}
#grants_carousel {
	/*margin-left: 10px;*/
	margin: 0 auto;
	position: relative;
	/* To show loading image */ 
	min-height: 185px;
	min-width: 310px;
}
#grants_carousel[class~=no_grants] {
	background: #fafafa;
	border: 1px solid #E6E6E6;
	border-radius: 2px;
	color: #252525;
	font-size: 14px;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	line-height: 140px;
	min-height: 140px;
	text-align: center;
	margin-top: 12px;
	width: 100%;
}
#grants_div .grants_left, #grants_div .grants_right {
	float: left;
}
#grants_div .header {
	border-bottom: 2px solid #e6e6e6;  
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 10px;
    font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 18px;
	color: #242424;
}
#grants_div .header #currnet_grants {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 18px;
	color: #808080;
}
#grants_div .grants_desc {
    margin: 5px 0;
    padding: 0 5px;
}
#grants_div .grants_edit {
	background: #FAFAFA;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    margin: 5px 0;
    padding: 5px 12px;
}
.grants_edit .shares_to_exercise, .grants_edit .shares_to_sell {
	width: 95%;
}
.grants_line {
	border-bottom: 2px solid #E6E6E6;
}
.esp_calculation_wrapper {
	position: absolute;
	width: 100%;
	bottom: 23px;
	overflow-y: auto;
	top: 175px;
}
.esp_calculation_wrapper .esp_calculation_inner {
	/*
	position: relative;
	bottom: 0;
	width: 100%;*/
	width: 100%;
	display: table;
	height: 100%;
}
.esp_calculation_wrapper .esp_calculation_inner .esp_calculation_sub {
	display: table-cell;
}
.esp_calculation_wrapper .esp_calculation_inner .esp_calculation_sub[class~=alignBottom] {
	vertical-align: bottom !important;
}
.esp_calculation_wrapper .esp_calculation_inner .esp_calculation_sub[class~=alignTop] {
	vertical-align: top !important;
}
#estimation_div {
	border-top: 2px solid #e6e6e6;
	color: #222;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	margin: 7px 15px;
	padding: 4px 0 0;
	position: relative;
	/* To show loading image */	
	min-height: 100px;
	min-width: 250px;
}
.loading_div {
	background: #fff;
	bottom: 0;
	height: 100%;
	opacity: 0.90;
	position: absolute;
	top: 0;
	width: 100%;
}

#estimation_div .loading_div {
	background: #f9f9f9;
}

.loading_div .spinner_small_esp {
	background: url(../images/global/spinner_small_transparent.gif) no-repeat;
	height: 35px;
	left: 45%;
	position: absolute;
	top: 45%;
	width: 32px;
}
.esp_page_loader {
	background: url(../images/global/spinner_small_transparent.gif) no-repeat;
	height: 35px;
	position: fixed;
	top: 48%;
	width: 32px;
}
#total_estimation_div {
	color: #222;
	font-family: helvetica;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	margin: 0 15px;
}
#delivery_timeline_info {
    color: #808080;
    font-size: 12px;
    margin: 15px;
    padding: 8px 0 0;
}
#disclosures_link {
	height: 15px;
	padding: 2px 0 6px;
	position: absolute;
	left: 40%;
	bottom: 0;
}
#disclosures_link a{
	text-decoration: underline;
}
.esp_table {
	width: 100%;
}
.esp_table td {
	padding: 7px 0 4px;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	color: #252525;
}
.esp_table td.gray_label{
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	color: #808080;
	padding-top:7px;
}
.gray_label {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	color: black;
	padding-top:10px;
}
.esp_table td.child-cell {
	padding-left: 24px;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	color: #808080;
}
#preview_details_div .esp_table td:last-child {
	width: 55% !important;
}
.esp_table td:last-child {
	font-weight: bold;
	text-align: right;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 13px;
	color: #252525;
	word-break: break-word;
}
.esp_table td.padding_top_5 {
	padding-top: 12px;
}
#esp_disbursetype_display {
	word-break: break-all;
	padding-right: 25px;
}
.gray_hr {
	background-color: #E6E6E6;
    border: 0 none;
    color: #E6E6E6;
    height: 2px;
    margin: 5px 0;
}
#order_details_div {
	font-size: 12px;
    padding: 12px;
}
#order_details_div .order_details_left ,#order_details_div .order_details_right {
	float: left;
}
#order_details_div .preview_cash_proceeds {
    padding: 0 10px 15px 0;
}
#order_details_div .preview_select_currency {
	padding-right: 10px;
}
#order_details_div .order_details_select {
	float: left;
    margin-top: 10px;
}

#order_details_div .additional_info {
	clear: both;
    color: #808080;
    font-size: 12px;
}
#order_confirmation_div {
	background: url("../images/trading_esp/confirmation.png") no-repeat scroll 10px 18px #ecf5ff;
    border: 1px solid #DAEAFC;
	margin: 10px;
	min-height: 60px;
	outline: 1px solid #E6E6E6;
	padding: 0 10px 0 45px;
}
#order_confirmation_div .order_confirmation_details {
	padding: 14px 0 0;
}
#order_confirmation_div .order {
	color: #242424;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial;
	font-size: 18px;
}
#order_confirmation_div .time {
	color: #242424;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;
}
#preview_details_div {
	font-size: 12px;
	padding: 10px 15px;
}
#preview_details_div .preview_order_div, #preview_details_div .preview_delivery_div {
	float: left;
}
.trade_trans_definition{
	margin: 6px 10px 0 13px;
	min-height: 25px;
}
.trade_modal_trans_definition{
	background: url("../images/trading_esp/esp_icon_help.png") no-repeat ;
	width:25px;
	height:25px;
	float: left;
}
.trans_definition_desc {
	overflow:hidden;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	color: #A7A7A7;
	padding: 0 5px 5px;
}
#trade_modal_disclosure, #esp_portfolio_trade_modal_disclosure {
	top: 45px;
	left: 0;
	right: 0;
	margin: auto;
	/*min-height: 338px;*/
	max-height: 390px;
	width: 87%;
}
#trade_modal_disclosure .overlay_main_header, #esp_portfolio_trade_modal_disclosure .overlay_main_header {
	height: 42px;
	line-height: 42px;
}
#disclosure_content {	
	font-size: 14px;
	line-height: 1.2em;
	padding: 12px 14px 15px 14px;
	background-color: #fff;
	max-height: 275px;
	overflow: auto;
}
.disclosure_footer{
	height: 42px;
	width: 100%;
	line-height: 42px;
	background-position: 0px -80px;
	background-image: url(../images/repeat-x-sprite.png);
	background-repeat: repeat-x;
}
.disclosureYesNoButtons {
	height: 42px;
	text-align: center;
}
#disclosure_yes{
	height: 30px;
	width: 69px;
	margin-right: 15px;
	margin-top: 7px;
}
#disclosure_no{
	height: 30px;
	width: 69px;
	margin-top: 7px;
}
.cashPuchasingPowerCheck{
	background: url(../images/compare/compare_input_uncheck.png) no-repeat;
	width:45px;
	height:50px;
}
.marginPurchasingPowerCheck
{
	background: url(../images/compare/compare_input_uncheck.png) no-repeat;
	width:45px;
	height:50px;
}

.cashPuchasingPowerCheck.checked{
	background: url(../images/compare/compare_input_checked.png) no-repeat;
	width:45px;
	height:50px;
}
.marginPurchasingPowerCheck.checked
{
	background: url(../images/compare/compare_input_checked.png) no-repeat;
	width:45px;
	height:50px;
}

.purchasingPowerData{
	font-size:12px;
	font-weight:bold;
	font-family: "Helvetica Neue", Helvetica, Arial;
	color:#222222;
}
.purchasingPowerprice{
	font-size:12px;
	font-weight:bold;
	font-family: "Helvetica Neue", Helvetica, Arial;
	color:#222222;
	text-align: right;
}
.purchasingPowerdesc{
	font-size:12px;
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-style: italic;
	vertical-align: initial;
}

#trade_modal_inner_orders{
	/*position:relative !important;*/
	right:0;
}

/*============ ESP Critical Error styles==========*/
.critical_error {
	background: url("../images/trading_esp/esp_icon_alert.png") no-repeat scroll 12px 12px #fefccc;   
    margin: 11px;
    min-height: 60px;
    padding: 14px 6px 14px 72px;
	border: 1px solid #EDEAB5;
}
.critical_error .error_title {
	font-weight: bold;
	padding-bottom: 5px;
	font-family: "Helvetica-Neue-Medium", "Helvetica Neue Medium", "Helvetica Neue" , Helvetica, Arial;
	font-size: 14px;
	color: #252525;
}
.critical_error .error_content {
	font-family: "Helvetica Neue", Helvetica, Arial;
	font-size: 14px;
	color: #242424;
}

/*=========== FOOTER ============*/
.trade_modal_stock_footer, 
.trade_modal_options_footer {
  	/*background-image: url("../images/repeat-x-sprite.png");
    background-position: 0 -331px;
    background-repeat: repeat-x;*/
    border-top: 1px solid #E6E6E6;
    height: 45px;
	line-height: 45px;
    /* To keep the footer always at the bottom of the page */
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
.trade_footer_info {
	font-weight: bold;
}
/*=========== FOOTER ==============*/
.footer_cancel_button {
	font-family:Avenir;
	box-shadow: 0px 0px 4px #ccc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #c2c2c2) );
	background-color:#f5f5f5;
	border-radius:5px;
	border:1px solid #c2c2c2;
	display:inline-block;
	color:#242424;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:7px 35px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	line-height:14px;
	margin-top:8px;
	margin-right:8px;
	width:50px;
	text-align:center;
}
.footer_cancel_button:active {
	background:#b1b1b1;
}
.footer_green.place {
	width:88px;
}
.footer_green:active {
	background:#009900;
}
.footer_red {
	box-shadow: 0px 0px 4px #ccc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f1323c), color-stop(1, #c20619) );
	background-color:#f1323c;
	border-radius:5px;
	border:1px solid #b6000f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ae2128;
	line-height:14px;
	margin-top:8px;
	margin-right:8px;
	width:50px;
	text-align:center;
	cursor: pointer;
}
.trade_footer_buttons {
	float: right;
	display: inline;
}
.trade_footer_buttons span[class~=disabled] {
	background: none repeat scroll 0 0 #eee !important;
    border: 1px solid #ddd !important;
    color: #ccc !important;
    cursor: default !important;
    text-shadow: none !important;
}
.trade_footer_success {
	display:none;
}
.trade_footer_gray_button {
	cursor: pointer;
	font-family:arial;
	padding:8px 7px 7px 7px;
	font-weight:bold;
	border-radius:5px;
	margin-right:6px;
}
.trade_footer_gray_button.neworder {
	padding:7px 25px;
}
.trade_footer_gray_button.cancel, .trade_footer_gray_button.clear, .trade_footer_gray_button.change {
	padding:8px 30px 7px 30px;
	cursor: pointer;
}
.trade_footer_gray_button.clear, .trade_footer_gray_button.cancel {
	margin-right: 12px;
}
.trade_footer_gray_button.orderstatus {
	padding:7px 8px;
}
.footer_red:active{
	background:#b6000f;
}
.footer_left_time {
	display:inline;
	float:left;
	color:#808080;
	padding-left:8px;
}
.trade_model_orders_scroll { 
	height:194px;
}
.trade_modal_no_orders {
	margin-bottom:80px;
	font-size:12pt;
	color:gray;
}
#espp_account_investsub_orders_menu {
	border-bottom: 1px solid #A7A7A7;
}
.espp_trade_modal_no_orders {
	/*
	width:702px;
		text-align:center;
		margin-bottom:80px;
		font-size:12pt;
		color:gray;*/
	
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.trade_absolute {
	position:absolute;
}
#trade_type_options_preview,
#trade_type_options {
	width:345px;
}
.trade_relative {
	position:relative;
}
.trade_modal_normal { 
	position:relative;
	width:175px;
}

.trade_modal_normal_esp { 
	position:relative;
	width:260px;
}

.trade_modal_wide_esp { 
	position:relative;
	width:270px;
}

.trade_modal_small_esp {
	position:relative;
	width:160px;
}

.trade_modal_wide { 
	position:relative;
	width:254px;
}
.trade_modal_normal.left_first,
.trade_modal_wide.left_first{
	padding-left:13px;
	float:left;
}
.overlay_bg_trade {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
/*	z-index:4000;
	opacity: 0.6;
	background-color: #000;*/
}
.load_thin_css_account_details {
	height:50px;
	/*margin-left:360px;*/
}
.load_css_trading_box {
	margin-top:16px;
	margin-bottom:16px;
}
/* To make the Trading overlay as a full page */
.trade_modal_overlay_exterior, #trading_overlay {
	height: 100%;
	left: 0;
	overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.load_thin_css_trading_box {
	position: absolute;
	margin: auto;
	width: 250px;
}
.load_css_large_wrapped_trading_cell {
	height: 200px;
	width: 350px;
	position: absolute;
}
.trade_orders_list_container_outline {
	/*height:230px;
	position:relative;
	border-top:1px solid #A7A7A7;*/
	position: absolute;
	top: 245px;
	width: 100%;
	bottom: 46px;
	border-top: 1px solid #A7A7A7;
}
.trading_orders_footer { 
  float:right;
  font-weight:bold;
  margin: 5px;
  line-height: 33px;
  padding: 0px 5px;
  pointer: cursor;
}
.trade_option_preview_top {
	padding: 15px 5px 0 12px;
}
.trading_orders_overlay_opaci {
  top: -45px;
  right: -1px;
  width: 101%;
  height: 615%;
  position: absolute;
  opacity: 0;
  background: black;
  display: none;
  z-index: 3005;
}
.trade_orders_click_overlay_head {
  z-index:10;
  position: absolute;
  width: 708px;
  height: 125px;
  opacity: 0;
  background-color: black;
  margin-left: -5px;
  display:none;
}
.trade_orders_click_overlay_head.footer {
  height:45px;
}

#stock_trade_preview_last_price.price_gain,
#stock_trade_preview_last_price.price_loss,
#option_trade_preview_last_price.price_gain,
#option_trade_preview_last_price.price_loss {
	width:70px;
	padding-right: 0px;
	margin-top:-5px;
	height:18px;
	margin-left:5px;
	margin-right:7px;
	padding:6px 5px;
}
.t_preview_top_first {}
.t_preview_top_second {}
.t_preview_top_third {}
.trade_open_order_header_table {width:702px;}
.trade_footer_orders_padding {padding-left:15px;}


/************Quotes lookup style ********/
.quotesLookUpTrade_placeholder .quote_dropdown_trade {
	margin-left: 5px;
}
.quotesLookUpTrade_placeholder .quote_dropdown_trade .arrow {
	top: 114px;	
}
.quotesLookUpTrade_placeholder {
	display: none;
	position:absolute;
	top:80px;
	left:323px;
}

.quotesLookUpTrade_placeholder .quotesLookupMask {
	top:-90px;
	left:-330px;
	width:730px;
	height:440px;
}
.quotesLookUpTrade_placeholder #quoteslookup_search{
	top: 111px;
	height: 10px;
}

.quotesLookUpTrade_placeholder #quoteslookup_search.quoteslookup_search_stockText{
	left: -107px;
	width: 78px;
	text-indent: 15px;
	height: 13px;	
}

.quotesLookUpTrade_placeholder #quoteslookup_search.quoteslookup_search_optionText{
	left: -303px;
	width: 279px;
	text-indent: 25px;
	height: 13px;
}
.quotesLookUpTrade_placeholder .search_options_quote, 
.quotesLookUpTrade_placeholder .search_options_option {
	width: 113px;	
}

.account_button_black {
width: 109px;
padding: 7px 1px;
margin: 5px 4px;
cursor: pointer;
}

.accounts_order_edit_popup {
width: 235px;
height: 41px;
background: black;
position: absolute;
z-index: 5000;
border: 1px solid #505050;
}

.accounts_order_edit_popdown {
border-color: black transparent transparent transparent;
border-style: solid;
border-width: 10px;
height: 0;
width: 0;
position: absolute;
left: 107px;
z-index: 3010;
top: 41px;
}

.accounts_order_edit_popup.cancel {
	width:117px;
}

.accounts_order_edit_popdown.cancel {
  left:49px;
}


/* Media Styles */

@media all and (orientation: landscape) and (min-width: 950px) {
	.trade_modal_inner_left {
		width: 65%;
	}
	.esp_calculation_wrapper {
		top:311px;
	}
	
	.esp_calculation_wrapper.sars{
		top:170px;
	}
	
	.trade_modal_inner_right {
		width: 35%;
	}
	#trade_type_stock, #trade_type_stock_preview {
		padding-left: 320px;
	}
	#trade_type_options, #trade_type_options_preview {
		padding-left: 320px;
	}
	
	#trade_modal_esp .trade_modal_inner_left{
		width:65%;
	}	
	#trade_modal_esp .trade_modal_inner_right{
		width:35%;
	}	
	#trade_modal_esp .esp_trade_blocked .trade_modal_inner_right{
		top: 0px;
	}
	.esp_page_header_wrapper{
		width: 65%;
	}
	#grants_carousel {
		width: 580px;
	}
	#grants_carousel .carousel_container {
		min-height: 185px;
		width: 580px;
	}
	#grants_carousel .jcarousel, #grants_carousel .jcarousel ul li {
		width: 580px;
	}
	#grants_div .grants_left, #grants_div .grants_right {
		width: 49%;
	}
	#grants_div .grants_desc {
		margin-right: 10px !important;
	}
	.loading_div[class~=grants_desc_loading] {
		width: 50%;
	}
	.loading_div[class~=grants_edit_loading] {
		width: 50%;
		left: 50%;
	}
	#preview_details_div .preview_order_div {
		width: 100%;
	}
	#order_details_div .order_details_left, #order_details_div .order_details_right,
	#preview_details_div .preview_order_div[class~=delivery_details_avail], #preview_details_div .preview_delivery_div {
		width: 50%;
	}
	#preview_details_div .preview_order_div[class~=delivery_details_avail] .preview_order_info {
		border-right: 1px solid #E6E6E6;
		margin-right: 15px;
		padding-right: 10px;
	}
	#order_details_div .preview_select_currency {
		border-left: 1px solid #E6E6E6;
		padding-left: 20px;
	}
	.dropwrap_left{
		border-right:1px solid #E6E6E6;
		width:46%;
	}
	.dropwrap_right {
		width:50%;
	}
	.esp_page_loader {
		left: 48%;
	}
	#trade_modal_esp .trade_modal_inner_right {
		top: 0px;
	}
	#trading_overlay[class~=orders] .trade_modal_accts {
		width: 65%;
	}
	.market_wrap .trade_modal_accounts_select {
		margin-top: 0;
	}
	.market_wrap #trade_stock_limit {
		top: 0;
	}
	.market_wrap, .term_wrap, .purchase_wrap {
		padding-left: 5px;
	}
}

@media (orientation: portrait), (max-width: 950px) {
	
	.esp_calculation_wrapper.sellshares{
		top:320px;
	}
	.esp_calculation_wrapper {
		top:342px;
	}
	
	.esp_calculation_wrapper.sars{
		top:319px;
	}
	
	.trade_modal_inner_left {
		width: 50%;
	}
	.trade_modal_inner_right {
		width: 50%;
	}
	#trade_type_stock, #trade_type_stock_preview{
		padding-top: 160px;
	}
	#trade_type_options, #trade_type_options_preview {
		padding-top: 180px;
	}
	#trade_modal_esp .trade_modal_inner_left{
		width:50%;
	}
	#trade_modal_esp .trade_modal_inner_right{
		width:50%;
	}	
	#grants_carousel {
		width: 310px;
	}
	#grants_carousel .carousel_container {
		min-height: 325px;
		width: 310px;
	}
	#grants_carousel .jcarousel, #grants_carousel .jcarousel ul li {
		width: 310px;
	}
	#grants_div .grants_left, #grants_div .grants_right, 
	#order_details_div .order_details_left, #order_details_div .order_details_right {
		width: 98%;
	}
	#preview_details_div .preview_order_div, #preview_details_div .preview_delivery_div {
		width: 100%;
	}
	.loading_div[class~=grants_desc_loading] {
		height: 55%;
		width: 98%;
	}
	.loading_div[class~=grants_edit_loading] {
		height: 46%;
		top: 54%;
		width: 98%;
	}
	.dropwrap_right {
		border-right:none;
	}	
	.esp_page_loader {
		left: 45%;
	}
	#trade_modal_esp .trade_modal_inner_right {
		top: 48px;
	}
	#trading_overlay[class~=orders] .trade_modal_accts {
		width: 85%;
	}
}
@media (orientation: portrait), (max-width: 610px) { /* Nexus 7 */
	#trading_overlay[class~=orders] .trade_modal_accts {
		width: 95%;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	#trading .headerLayout .backButton{
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	#trading input.searchsmall {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	#trading input.search {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	.trading_calc_dollar {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	.trade_modal_close_inner {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	.trade_calc_inner {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	.trading_selector_bg {
		background-image: url(../images_2x/main-sprite.png);
		background-size:800px 400px;
	}
	.trade_modal_trans_definition{
		background: url("../images_2x/trading_esp/esp_icon_help@2x.png") no-repeat ;
		background-size:25px 25px;
	}
	.critical_error {
		background: url("../images_2x/trading_esp/esp_icon_alert@2x.png") no-repeat scroll 5px 5px #fefccc;
		background-size: 56px 50px;
	}	
	.esp_page_header .page_num_1 {
		background: url("../images_2x/trading_esp/esp_step_1_of_4@2x.png") no-repeat ;	
		background-size:140px 35px;
	}	
	.esp_page_header .page_num_2 {
		background: url("../images_2x/trading_esp/esp_step_2_of_4@2x.png") no-repeat ;
		background-size:140px 35px;
	}
	.esp_page_header .page_num_3 {
		background: url("../images_2x/trading_esp/esp_step_3_of_4@2x.png") no-repeat ;	
		background-size:140px 35px;
	}
	.esp_page_header .page_num_4 {
		background: url("../images_2x/trading_esp/esp_step_4_of_4@2x.png") no-repeat ;
		background-size:140px 35px;
	}	
	.esp_page_header .page_num_for3steps_1
	{
		background: url("../images_2x/trading_esp/esp_step_1_of_3@2x.png") no-repeat ;	
		background-size:110px 35px;
	}
	.esp_page_header .page_num_for3steps_2
	{
		background: url("../images_2x/trading_esp/esp_step_2_of_3@2x.png") no-repeat ;	
		background-size:110px 35px;
	}
	.esp_page_header .page_num_for3steps_3
	{
		background: url("../images_2x/trading_esp/esp_step_3_of_3@2x.png") no-repeat ;	
		background-size:110px 35px;
	}
	#order_confirmation_div {
		background: url("../images_2x/trading_esp/confirmation@2x.png") no-repeat scroll 10px 18px #ecf5ff;   
		background-size: 24px 21px; 
	}
	.t_preview_confirm_tick {
		background: url("../images_2x/trading_esp/confirmation@2x.png") no-repeat;
		background-size: 24px 21px;
	}	
	#trade_modal_esp .trade_modal_inner_right {
		background: url("../images_2x/trading_esp/bg_left@2x.png") repeat-y;
		background-size: 461px 50px;
		
	}
}