#wlFlyout_mask {
  position: fixed;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #101010;
  opacity: 0.1;
}
#watchlistFlyout {
  z-index:1;
}
#wlFlyout_panel {
  z-index:5;
}
.wlFlyout_panel .arrow {
	top: -10px;
	left: 114px;
}
.wlFlyout_panel_trade .arrow {
	top: 172px;
	left: -10px;
}
#wlFlyout_panel > .cancel_btn {
	font-size: 14px;
	font-weight: normal;
	width: 110px;
	margin: 3px 0 6px 60px;
	padding: 8px;
}
.wlFlyout_errorMessage {
	display: none;
	text-align: center;
	min-height: 50px;
	color: black;
	background: white;
	padding-top: 30px;
	margin-top: 20px;
}

.wlFlyout_panel  .content {
	width: 240px;
	background-color: #fff;
	margin: 10px 5px 5px 5px;
}

.wlFlyout_EditBtn, .wlFlyout_DoneBtn {
	margin: 5px 4px 0px 4px;
	width: 90%;
	padding: 3%;
}

/*******************flyotu styles ***********/

.wlFlyout_WL {
	margin: 0 5px 0 5px;
	padding: 0;
}
.wlFlyoutNames {
	padding: 13px 0 3px 20px;
	display: block;
	height: 25px;
	margin-right: 0;
	font-weight: bold;
	background-color: #fff;
	cursor: pointer;
	border-bottom: 1px solid #EBEAEA;
}

.wLFlyout_add_watchlist {
	display: inline-block;
}

.wlFlyout_editPanel {
	display: none;
}

#wLFlyout_add_watchlist {
	display: block;
	background: url('../images/common/add_icon.png') #363636 no-repeat 6% 50%;
	border-radius: 30px;
	font-weight: bold;
	border: none;
	margin: 10px 0 0 6px;
	padding-left: 35px;
	width: 81%;
	height: 28px;
	box-shadow: inset 1px 1px 2px #161616;
	color: #fff;
}
.wlflyout_input_item {
	display: none;
	position: relative;
	top: -5px;
	left: -3px;
	width: 77%;
	height: 85%;
}

.wlflyout_item {
	float: left;
	cursor: pointer;
	width: 81%;
	height: 100%;
}

.wlflyout_remove {
	display: none;
	background: url('../images/common/remove.png') no-repeat;
	float: left;
	width: 26px;
	height: 26px;
	position: relative;
	margin-right: 5px;
	top: -6px;
	left: -10px;
	cursor: pointer;
}
