
.whatsnews_modal {
	position: absolute;
	height: 510px;
	width: 375px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url("../images/whatsnew/whats_new_container.png");
	background-repeat: no-repeat;
}

.whatsnews_modal header {
	height: 153px;
	width: 100%;
	background: url("../images/whatsnew/whats_new_logo.png") no-repeat;
	background-position-x: 34px;
	background-position-y: 28px;
}

.whatsnews_modal footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 13%;
}
.whatsnew_done {
	float: right;
	margin: 8px 10px 0 0;
	padding: 7px 40px;
}
.whatsnewcheckboxdiv{
	float: left;
	margin-left: 23px;
	margin-top: 8px;
	width: 33px;
	height: 30px;
}
.whatsnew_donotshow {	
	width: 23px;
	height: 19px;
	background-position: -690px -121px;
	background-image: url("../images/main-sprite.png");
	background-repeat: no-repeat;
}
.whatsnew_donotshowChecked {	
	width: 23px;
	height: 19px;
	background-position: -712px -121px;
	background-image: url("../images/main-sprite.png");
	background-repeat: no-repeat;
}
.whatsnew_donotshowlabel {
	float: left;
	padding: 10px 0px 0px 0px;
	color: #808080;
	font-weight: bold;
}
.whatsnewtext {
	margin: 18px;
}

.whatsnewtext label {
	color: #98ca3e;
	font-family: Helvetica;
	font-size: 24px;
	font-weight: bold;
}
.whatsnewtext ul {
	padding-top: 20px;
}
.whatsnewtext li {
	font-family: Helvetica;
	font-size: 14px;
	color: #FFFFFF;
	list-style: none;
	padding: 5px;
}
.whatsnewscroller {
	position: absolute;
	width: 95%;
	height: 49%;	
}

/* Media Styles */

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.whatsnew_donotshow,.whatsnew_donotshowChecked{
		background-image: url('../images_2x/main-sprite.png');
		background-size:800px 400px;
	}
}
